<div class="modal-body-width">
    <div id="viewShippingCartonUnnaceptableProductsReport" class="px-6 py-0" style="font-family: sans-serif;">
        <div class="flex flex-col">
            @if (reportModel(); as report) {
            <h2 class="text-3xl text-blue-900 border-b-2 border-b-blue-700">
                Unacceptable Products Report
            </h2>
            <table
                id="unnaceptableProductsTable"
                class="w-full grid-borders"
            >
                <thead>
                <tr>
                    <th class="text-xl text-center font-bold" colSpan="5">
                        <div class="my-5">Shipment Number: {{ report.shipmentNumber }}</div>
                    </th>
                </tr>
                <tr class="bg-blue-100">
                    <th class="font-bold">Unit Number</th>
                    <th class="font-bold">Product Code</th>
                    <th class="font-bold">Carton Number</th>
                    <th class="font-bold">Carton Sequence</th>
                    <th class="font-bold">Reason for Failure</th>
                </tr>
                </thead>

                <tbody>
                    @for (product of report?.products; track $index) {
                        <tr class="even:bg-blue-50">
                            <td class="text-center">{{ product?.unitNumber }}</td>
                            <td class="text-center">{{ product?.productCode }}</td>
                            <td class="text-center">{{ product?.cartonNumber }}</td>
                            <td class="text-center">{{ product?.cartonSequence }}</td>
                            <td class="text-center">{{ product?.reasonForFailure }}</td>
                        </tr>
                    }
                </tbody>
            </table>
            }
        </div>
    </div>
</div>
