<div id="confirmationAcknowledgeModal">
    <h1 mat-dialog-title class="text-3xl" id="acknowledgeTitle">
        {{ data.title }}
    </h1>
    <mat-dialog-content class="mat-typography max-h-100 overflow-auto">
        <div class="py-4 pb-2" id="acknowledgeDescription">
            {{ data.description }}
        </div>

        @if (data.details) {
            <div class="py-4 pb-2">
                <div class="text-lg font-bold" id="acknowledgeSubtitle">
                    {{ data.subtitle }}
                </div>

                <div class="mt-3" id="acknowledgeDetails">
                    @for (item of data.details; track $index) {
                        <div>{{ item }}</div>
                    }
                </div>
            </div>
        }
    </mat-dialog-content>

    <mat-dialog-actions align="end">
        <biopro-action-button
            btnId="confirmButton"
            type="button"
            mat-dialog-close
            label="Confirm"
        >
        </biopro-action-button>
    </mat-dialog-actions>
</div>
