:host {
  ::ng-deep {
    .mat-horizontal-stepper-header {
      pointer-events: none !important;
    }

    div.mat-horizontal-content-container {
      overflow: initial !important;
    }
  }
}

treo-card {
  overflow: initial !important;
}
