:host {
    ::ng-deep {
      .p-buttonset .p-button {
        width: 100px;
      }
  
      .mat-mdc-progress-bar {
        border-radius: 2px;
  
        .mdc-linear-progress__buffer {
          background-color:#f4e2e2;
        }
      }
      .mdc-linear-progress__bar-inner {
        border-color: #cd6666 !important;
    }
    }
  }