<div class="flex flex-auto flex-col space-y-1">
    <biopro-process-header
        [subTitle]="header.subTitle | async"
        [title]="header.title | async"
        [buttons]="actionButtonsTpl"
    ></biopro-process-header>

    <div class="flex w-full flex-row space-x-4 p-4">
        <div class="flex w-9/12 flex-col space-y-3">
            <fuse-card class="flex flex-row items-center space-x-6 p-6">
                <div class="flex flex-row space-x-2">
                    <span class="text-left font-bold">
                        (
                        <span id="filledProductsCountId"
                            >{{ filledProductsData?.length }}
                        </span>
                        of <span id="prodQtyId">{{ quantity }}</span
                        >)
                    </span>
                    <span class="text-left font-bold"> Filled Product</span>
                    <span class="text-left font-bold" id="percentageId">{{
                        filledProductsData?.length / quantity | percent
                    }}</span>
                </div>

                <div class="flex flex-auto flex-col">
                    <mat-progress-bar
                        id="productsFilledProgressBar"
                        class="h-2"
                        mode="determinate"
                        [value]="
                            ((filledProductsData?.length || 0) / quantity) * 100
                        "
                    ></mat-progress-bar>
                </div>
            </fuse-card>

            <fuse-card class="flex w-full flex-col space-y-2">
                <div class="mt-3">
                    <rsa-enter-unit-number-product-code
                        #productSelection
                        [showCheckDigit]="showCheckDigit"
                        [showVisualInspection]="showVisualInspection"
                        (unitNumberProductCodeSelected)="
                            unitNumberProductCodeSelected($event)
                        "
                    ></rsa-enter-unit-number-product-code>
                </div>
            </fuse-card>

            <fuse-card
                class="mb-4 flex flex-col px-4 pb-4"
                id="filledProduct-container"
            >
                <div class="mb-2 mt-2 flex flex-row justify-between">
                    <div class="flex items-center text-lg font-bold">
                        <span>
                            Filled Products (
                            <span id="numberOfUnitAdded">{{
                                filledProductsData.length
                            }}</span>
                            )
                            @if (selectedProducts.length > 0) {
                                <span class="text-lg text-gray-400"
                                    >{{
                                        selectedProducts.length
                                    }}
                                    selected</span
                                >
                            }
                        </span>
                    </div>
                </div>
                <mat-divider></mat-divider>
                <div
                    id="optionButtons"
                    class="grid max-h-[520px] grid-cols-4 gap-4 overflow-auto pb-4 pt-4"
                >
                    @if (filledProductsData.length === 0) {
                        <p>Scan or Enter Unit Number</p>
                    } @else {
                        @for (option of filledProductsData; track $index) {
                            <biopro-unit-number-card
                                [id]="'unit-' + $index"
                                class="max-h-24"
                                [unitNumber]="option.unitNumber"
                                [productName]="option.productCode"
                                [productDescription]="option.productDescription"
                                [visualInspection]="option.visualInspection"
                                [iconName]="getIcon()"
                                [active]="selectedProducts.includes(option)"
                                (clickEvent)="toggleProduct(option)"
                                [showVisualInspection]="showVisualInspection"
                            ></biopro-unit-number-card>
                        }
                    }
                </div>
            </fuse-card>
        </div>

        <div class="flex w-3/12 flex-col">
            <app-order-widget-sidebar
                [orderInput]="{
                    id: shipmentInfo?.orderNumber,
                    externalId: shipmentInfo?.externalId,
                    priority: shipmentInfo?.priority,
                    labelingProductCategory: shipmentInfo?.productCategory,
                }"
                [comments]="shipmentInfo?.comments"
                [shippingInput]="{
                    id: shipmentInfo?.id,
                    customerCode: shipmentInfo?.shippingCustomerCode,
                    customerName: shipmentInfo?.shippingCustomerName,
                    status: shipmentInfo?.status,
                    method: shipmentInfo?.shippingMethod,
                }"
                [productInput]="{
                    temperatureCategory: shipmentInfo?.productCategory,
                    productFamily: productFamily,
                    bloodType: shipmentProduct?.bloodType,
                }"
                [productComments]="shipmentProduct?.comments"
            />
        </div>
    </div>
</div>
<ng-template #actionButtonsTpl>
    <div class="flex flex-row space-x-2">
        <biopro-action-button
            id="backBtn"
            btnId="backActionBtn"
            label="Submit"
            color="primary"
            icon="heroicons_outline:paper-airplane"
            (clickEvent)="backToShipmentDetails()"
        ></biopro-action-button>
    </div>
</ng-template>
