#select-all-btn {
  color: #a4a900 !important;

  &:hover {
      background-color:  #c1cf07 !important; 
      opacity: 0.5; 
  }

  &[disabled='true'] {
      background-color: transparent !important;
      color: rgb(148 163 184 / 100%) !important;
  }
}

#remove-btn{
&:hover {
  background-color:#d1d5db !important;
}
}