<div class="flex flex-auto flex-col">
    <biopro-process-header
        [subTitle]="header.subTitle | async"
        [title]="header.title | async"
    ></biopro-process-header>
    <app-search-order-filter
        (applySearchFilters)="applyFilterSearch($event)"
        (toggleFilters)="toggleFilter($event)"
        [showFilters]="isFilterToggled"
    >
    </app-search-order-filter>
    <div class="flex flex-col">
        <div class="flex w-full flex-row space-x-4 p-4">
            <div class="table-wrapper">
                <div class="w-full">
                    <biopro-table
                        [dataSource]="dataSource"
                        [configuration]="tableConfig()"
                        [totalElements]="totalElements"
                        [defaultSort]="defaultSort"
                        (sort)="sort($event)"
                    >
                    </biopro-table>
                    <ng-template #customerNameTemplateRef let-element="element">
                        {{ element.orderCustomerReport?.name }}
                    </ng-template>

                    <ng-template #createDateTemplateRef let-element="element">
                        {{ element?.createDate | date: 'MM/dd/yyyy HH:mm' }}
                    </ng-template>

                    <ng-template
                        #desireShipDateTemplateRef
                        let-element="element"
                    >
                        {{ element?.desireShipDate | date: 'MM/dd/yyyy' }}
                    </ng-template>

                    <ng-template #priorityTemplateRef let-element="element">
                        <span
                            class="badge rounded-pill"
                            [ngStyle]="{
                                'background-color':
                                    element?.orderPriorityReport
                                        ?.priorityColor ?? '#222222',
                            }"
                        >
                            {{ element.orderPriorityReport?.priority }}
                        </span>
                    </ng-template>

                    <ng-template #detialBtnTemplateRef let-element="element">
                        <button
                            id="detailsBtn"
                            class="bg-custom-red justify-center text-white"
                            mat-flat-button
                            (click)="details(element?.orderId)"
                        >
                            Details
                        </button>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>
