<div class="flex flex-col flex-auto space-y-1">
  <rsa-process-header
    [subTitle]="header.subTitle$ | async | translate"
    [title]="header.title$ | async | translate"
    [buttons]="actionButtonsTpl"
  ></rsa-process-header>
  <div class="w-full flex flex-row space-x-8 p-4">
    <div class="flex flex-col flex-auto w-9/12">
      <treo-card class="flex flex-row space-x-6 items-center p-6">
        <div class="flex flex-row space-x-2">
          <span class="text-left font-bold">
            (<span id="filledProductsCount">{{ filledProductsCount }}</span> {{ 'of.label' | translate }}
            <span id="totalProducts">{{ totalProducts }}</span
            >)
          </span>
          <span class="text-left font-bold">{{ 'filled-products.label' | translate }}</span>
          <span class="text-left font-bold" id="percentageId">{{ filledProductsCount / totalProducts | percent }}</span>
        </div>
        <div class="flex flex-col flex-auto">
          <mat-progress-bar
            id="shipmentProgressBarId"
            class="h-2"
            mode="determinate"
            [value]="(filledProductsCount / totalProducts) * 100"
          ></mat-progress-bar>
        </div>
      </treo-card>

      <div class="flex flex-col space-y-3 mb-6">
        <div class="flex flex-col">
          <ng-container *ngTemplateOutlet="addedProductTpl; context: { review: true }"></ng-container>
        </div>
      </div>
    </div>
    <div class="flex flex-col flex-auto w-1/4">
      <rsa-order-widget-sidebar
        [orderInfoDescriptions]="orderInfoDescriptions"
        [shippingInfoDescriptions]="shippingInfoDescriptions"
      ></rsa-order-widget-sidebar>
    </div>
  </div>
</div>

<ng-template #actionButtonsTpl>
  <div class="flex flex-row space-x-2">
    <button id="backBtnId" class="primary" mat-stroked-button (click)="backToSearch()">
      {{ 'back.label' | translate }}
    </button>
  </div>
</ng-template>

<ng-template #addedProductTpl let-review="review">
  <div class="flex flex-row justify-between items-end my-4">
    <div class="flex flex-row">
      <span class="mb-1 text-left font-bold mr-4 w-60">{{ 'labeling-product-category.label' | translate }}:</span>
      <span class="flex-auto text-left">{{ labelingProductCategory | translate | uppercase }}</span>
    </div>
    <div class="flex flex-row space-x-2">
      <button
        id="viewPickListBtn"
        class="action-button bg-purple-light px-4"
        mat-stroked-button
        (click)="viewPickList()"
      >
        {{ 'view-pick-list.label' | translate }}
      </button>
    </div>
  </div>

  <div class="flex flex-col flex-auto space-y-1">
    <treo-card class="flex-col pb-4">
      <!-- Header Section -->
      <div class="treo-card-title">
        <div class="flex flex-row w-full justify-between px-5 items-baseline">
          <h3>{{ 'product-details.label' | translate }}</h3>
        </div>
      </div>
      <mat-divider></mat-divider>

      <div class="table-wrapper">
        <p-table
          id="prodTableId"
          dataKey="id"
          styleClass="p-datatable-customers p-datatable-sm"
          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
          sortField="productFamily.descriptionKey"
          [customSort]="true"
          [value]="products"
          [rows]="10"
          [showCurrentPageReport]="true"
          [rowsPerPageOptions]="[10, 25, 50]"
          [loading]="loading"
          [paginator]="true"
          (sortFunction)="customSort($event)"
        >
          <ng-template pTemplate="header">
            <tr>
              <th class="w-12"></th>
              <th class="w-12"></th>
              <th id="productFamilyColumn" pSortableColumn="productFamily">
                <div class="p-d-flex p-jc-between p-ai-center">
                  {{ 'product-family.label' | translate }}
                  <p-sortIcon field="productFamily"></p-sortIcon>
                </div>
              </th>
              <th id="quantityColumn" pSortableColumn="quantity">
                <div class="p-d-flex p-jc-between p-ai-center">
                  {{ 'quantity.label' | translate }}
                  <p-sortIcon field="quantity"></p-sortIcon>
                </div>
              </th>
              <th id="bloodTypeColumn" pSortableColumn="bloodType">
                <div class="p-d-flex p-jc-between p-ai-center">
                  {{ 'blood-type.label' | translate }}
                  <p-sortIcon field="bloodType"></p-sortIcon>
                </div>
              </th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-product let-expanded="expanded">
            <tr>
              <td [ngStyle]="{ width: '30px' }">
                <button
                  id="expandRowBtn"
                  type="button"
                  class="p-button-text p-button-rounded p-button-plain"
                  pButton
                  pRipple
                  *ngIf="product?.productComment"
                  [pRowToggler]="product"
                  [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
                ></button>
              </td>
              <td>
                <mat-icon [svgIcon]="getIcon(product?.productFamily)" class="product-icon"></mat-icon>
              </td>
              <td>
                {{ product?.productFamily | translate | uppercase }}
              </td>
              <td>
                {{ product?.quantity }}
              </td>
              <td>
                {{ product?.bloodType | translate | uppercase }}
              </td>
              <td>
                <div class="flex flex-row space-x-4 justify-center">
                  <button id="fillShipmentBtn" mat-raised-button class="bg-custom-red" (click)="fillOrder()">
                    {{ 'fill-Product.label' | translate }}
                  </button>
                </div>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="rowexpansion" let-product>
            <tr>
              <td [attr.colspan]="6">
                <div class="p-4">
                  <div class="flex flex-col space-y-2">
                    <div class="flex flex-row space-x-4 w-full text-wrap" *ngIf="product?.productComment">
                      <span class="font-bold mb-1 text-left mr-4 w-60">{{ 'comments.label' | translate }}</span>
                      <span class="text-overflow text-left">{{ product?.productComment | uppercase }}</span>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="footer">
            <tr>
              <td [attr.colspan]="8" class="p-text-right">
                <span class="ml-6">({{ totalProducts }}) {{ 'total-components.label' | translate }}</span>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </treo-card>
  </div>

  <div class="flex flex-col flex-auto space-y-1 mt-6" *ngIf="shipmentsCount">
    <treo-card class="flex-col pb-4">
      <!-- Header Section -->
      <div class="treo-card-title">
        <div class="flex flex-row w-full justify-between px-5 items-baseline">
          <h3>{{ 'shipped-products.label' | translate }}</h3>
        </div>
      </div>
      <mat-divider></mat-divider>

      <div class="table-wrapper">
        <p-table
          id="shippedProdTableId"
          dataKey="id"
          [rows]="10"
          [showCurrentPageReport]="true"
          [rowsPerPageOptions]="[10, 25, 50]"
          [loading]="loading"
          styleClass="p-datatable-customers p-datatable-sm"
          [paginator]="true"
          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        >
          <ng-template pTemplate="header">
            <tr>
              <th class="px-8">
                <div class="p-d-flex p-jc-between p-ai-center">
                  {{ 'quantity.label' | translate }}
                </div>
              </th>
              <th>
                <div class="p-d-flex p-jc-between p-ai-center">
                  {{ 'shipment-date.label' | translate }}
                </div>
              </th>
              <th>
                <div class="p-d-flex p-jc-between p-ai-center">
                  {{ 'employee.label' | translate }}
                </div>
              </th>
              <th></th>
            </tr>
          </ng-template>

          <ng-template pTemplate="footer">
            <tr>
              <td [attr.colspan]="4" class="p-text-right">
                <span class="ml-6">({{ totalShippedProducts }}) {{ 'total-components.label' | translate }}</span>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </treo-card>
  </div>
</ng-template>
