<span
    class="inline-flex flex-row items-center justify-start text-xl"
    mat-dialog-title
>
    <mat-icon svgIcon="warning" class="fill-orange-600" />
    <span class="pl-2 font-medium">Warning</span>
</span>
<mat-dialog-content>
    <p>{{ notification.notificationMessage }} Would you like to continue?</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button
        name="no-button"
        class="bg-green-highlighted px-4"
        mat-flat-button
        mat-dialog-close
    >
        No
    </button>
    <button
        name="yes-button"
        class="bg-purple-light px-4"
        mat-flat-button
        (click)="dialogRef.close(true)"
    >
        Yes
    </button>
</mat-dialog-actions>
