@import 'treo';
@import 'custom-colors';

:host {
  ::ng-deep {
    .p-buttonset .p-button {
      width: 100px;
    }

    .mat-progress-bar {
      border-radius: 2px;

      .mat-progress-bar-buffer {
        background-color: $custom-red-100;
      }

      .mat-progress-bar-fill::after {
        background-color: $custom-red;
      }
    }

    treo-card {
      overflow: initial !important;
    }

    .gt-xs\:min-w-44 {
      min-width: 11rem !important;
    }
  }
}
