<div class="modal-body-width overflow-y-auto overflow-x-hidden">
    <div class="mb-2 flex flex-row items-center justify-end gap-2">
        <button title="Print" (click)="print()" mat-icon-button>
            <mat-icon svgIcon="print"></mat-icon>
        </button>
        <button
            title="Close"
            class="fuse-message-dismiss-button"
            mat-icon-button
            mat-dialog-close
        >
            <mat-icon svgIcon="close"></mat-icon>
        </button>
    </div>

    <div id="viewPickListReport" class="px-6 py-0">
        @if (pickListModel(); as pickList) {
            <div
                class="flex flex-col gap-4 text-gray-700"
                style="font-family: serif"
            >
                <div class="flex flex-col gap-1">
                    <table
                        id="pageHeader"
                        class="w-full table-fixed border-separate"
                    >
                        <tbody>
                            <tr>
                                <td
                                    class="border-b border-black text-center text-4xl font-bold"
                                >
                                    Pick List
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table
                        id="pickListTable"
                        class="w-full table-fixed border-separate"
                    >
                        <thead>
                            <tr class="bg-gray-200">
                                <th class="w-1/3 border-b-2 border-gray-400">
                                    Order Number
                                </th>
                                <th class="w-1/3 border-b-2 border-gray-400">
                                    Customer ID
                                </th>
                                <th class="w-1/3 border-b-2 border-gray-400">
                                    Customer Name
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td class="text-center">
                                    {{ pickList.orderNumber }}
                                </td>
                                <td class="text-center">
                                    {{ pickList.customer.code }}
                                </td>
                                <td class="text-center">
                                    {{ pickList.customer.name }}
                                </td>
                            </tr>
                            <tr>
                                <td
                                    colspan="3"
                                    class="border-t border-t-gray-400"
                                >
                                    <strong>Order Comments:</strong>
                                    {{ pickList.orderComments }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="flex flex-col gap-1">
                    <table
                        id="productDetailsHeader"
                        class="w-full table-fixed border-separate"
                    >
                        <tbody>
                            <tr>
                                <td class="border-b border-black text-3xl">
                                    Product Details
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table
                        id="productDetailsTable"
                        class="w-full border-separate"
                    >
                        <thead>
                            <tr class="bg-gray-200">
                                <th class="w-1/5 border-b-2 border-gray-400">
                                    Product Family
                                </th>
                                <th class="w-1/5 border-b-2 border-gray-400">
                                    Blood Type
                                </th>
                                <th class="w-1/5 border-b-2 border-gray-400">
                                    Quantity
                                </th>
                                <th class="w-2/5 border-b-2 border-gray-400">
                                    Comments
                                </th>
                            </tr>
                        </thead>

                        @if (pickList.pickListItems?.length) {
                            <tbody id="pickListItemsRows">
                                @for (
                                    pickListItem of pickList?.pickListItems;
                                    track $index
                                ) {
                                    <tr>
                                        <td class="text-center">
                                            {{
                                                ProductFamilyMap[
                                                    pickListItem.productFamily
                                                ]
                                            }}
                                        </td>
                                        <td class="text-center">
                                            {{ pickListItem.bloodType }}
                                        </td>
                                        <td class="text-center">
                                            {{ pickListItem.quantity }}
                                        </td>
                                        <td class="text-center">
                                            {{ pickListItem.comments }}
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        }
                    </table>
                </div>

                <div class="flex flex-col gap-1">
                    <table
                        id="shortDateDetailsHeader"
                        class="w-full table-fixed border-separate"
                    >
                        <tbody>
                            <tr>
                                <td class="border-b border-black text-3xl">
                                    Short Date Details
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    @if (hasAnyShortDateItem()) {
                        <table
                            id="shortDateDetailsTable"
                            class="w-full border-separate"
                        >
                            <thead>
                                <tr class="bg-gray-200">
                                    <th
                                        class="w-1/5 border-b-2 border-gray-400"
                                    >
                                        Unit Number
                                    </th>
                                    <th
                                        class="w-1/5 border-b-2 border-gray-400"
                                    >
                                        Product Code
                                    </th>
                                    <th
                                        class="w-1/5 border-b-2 border-gray-400"
                                    >
                                        Blood Type
                                    </th>
                                    <th
                                        class="w-2/5 border-b-2 border-gray-400"
                                    >
                                        Storage Location
                                    </th>
                                </tr>
                            </thead>

                            @for (
                                pickListItem of pickList.pickListItems;
                                track $index
                            ) {
                                <tbody>
                                    @for (
                                        shortDateProduct of pickListItem.shortDateList;
                                        track $index
                                    ) {
                                        <tr>
                                            <td class="text-center">
                                                {{
                                                    shortDateProduct.unitNumber
                                                }}
                                            </td>
                                            <td class="text-center">
                                                {{
                                                    shortDateProduct.productCode
                                                }}
                                            </td>
                                            <td class="text-center">
                                                {{ shortDateProduct.aboRh }}
                                            </td>
                                            <td class="storage-location text-center">
                                            @if (shortDateProduct.storageLocation) {
                                                {{
                                                    shortDateProduct.storageLocation
                                                }}
                                            } @else {
                                                {{ noStorageLocationAvailableMessage() }}
                                            }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            }
                        </table>
                    } @else if (skipInventoryUnavailable()) {
                        <div
                            class="inline-flex flex-row items-center justify-start gap-2"
                        >
                            <mat-icon svgIcon="warning"></mat-icon>
                            <span id="skipInventoryUnavailableMessage"
                                >There are no suggested short-dated products as
                                the Inventory service is unavailable.</span
                            >
                        </div>
                    } @else {
                        <div id="shortDateDetailsEmpty">
                            There are no suggested short-dated products.
                        </div>
                    }
                </div>
            </div>
        }
    </div>
</div>
