<div class="modal-body-width">
    <div class="mb-2 flex flex-row items-center justify-end gap-2">
        <button title="Print" (click)="print()" mat-icon-button>
            <mat-icon svgIcon="print"></mat-icon>
        </button>
        <button
            title="Close"
            class="fuse-message-dismiss-button"
            mat-icon-button
            mat-dialog-close
        >
            <mat-icon svgIcon="close"></mat-icon>
        </button>
    </div>

    <div id="viewPickListReport" class="px-6 py-0">
        @if (model$ | async; as pickList) {
            <div
                class="flex flex-col gap-4 text-gray-700"
                style="font-family: serif"
            >
                <table
                    id="pageHeader"
                    class="w-full table-fixed border-separate"
                >
                    <tbody>
                        <tr>
                            <td
                                class="border-b border-black text-center text-4xl font-bold"
                            >
                                Pick List
                            </td>
                        </tr>
                    </tbody>
                </table>

                <table
                    id="pickListTable"
                    class="w-full table-fixed border-separate"
                >
                    <thead>
                        <tr class="bg-gray-200">
                            <th class="border-b-2 border-gray-400">
                                Order Number
                            </th>
                            <th class="border-b-2 border-gray-400">
                                Customer ID
                            </th>
                            <th class="border-b-2 border-gray-400">
                                Customer Name
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td class="text-center">
                                {{ pickList.orderNumber }}
                            </td>
                            <td class="text-center">
                                {{ pickList.customer.code }}
                            </td>
                            <td class="text-center">
                                {{ pickList.customer.name }}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" class="border-t border-t-gray-400">
                                <strong>Order comments:</strong>
                                {{ pickList.orderComments }}
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="mb-2 mt-5 border-b border-black p-0 text-3xl">
                    Product Details
                </div>
                <table id="productDetailsTable" class="w-full border-separate">
                    <thead>
                        <tr class="bg-gray-200">
                            <th class="w-1/5 border-b-2 border-gray-400">
                                Product Family
                            </th>
                            <th class="w-1/5 border-b-2 border-gray-400">
                                Blood Type
                            </th>
                            <th class="w-1/5 border-b-2 border-gray-400">
                                Quantity
                            </th>
                            <th class="w-2/5 border-b-2 border-gray-400">
                                Comments
                            </th>
                        </tr>
                    </thead>

                    @if (pickList.pickListItems?.length) {
                        <tbody>
                            @for (
                                pickListItem of pickList?.pickListItems;
                                track $index
                            ) {
                                <tr>
                                    <td class="text-center">
                                        {{
                                            ProductFamilyMap[
                                                pickListItem.productFamily
                                            ]
                                        }}
                                    </td>
                                    <td class="text-center">
                                        {{ pickListItem.bloodType }}
                                    </td>
                                    <td class="text-center">
                                        {{ pickListItem.quantity }}
                                    </td>
                                    <td class="text-center">
                                        {{ pickListItem.comments }}
                                    </td>
                                </tr>
                            }
                        </tbody>
                    }
                </table>

                <div class="mb-2 mt-5 border-b border-black p-0 text-3xl">
                    Short Date Details
                </div>
                @if (hasAnyShortDate(pickList)) {
                    <table
                        id="shortDateDetailsTable"
                        class="w-full border-separate"
                    >
                        <thead>
                            <tr class="bg-gray-200">
                                <th class="w-1/5 border-b-2 border-gray-400">
                                    Unit Number
                                </th>
                                <th class="w-1/5 border-b-2 border-gray-400">
                                    Product Code
                                </th>
                                <th class="w-1/5 border-b-2 border-gray-400">
                                    Blood Type
                                </th>
                                <th class="w-2/5 border-b-2 border-gray-400">
                                    Storage Location
                                </th>
                            </tr>
                        </thead>

                        @for (
                            pickListItem of pickList.pickListItems;
                            track $index
                        ) {
                            <tbody>
                                @for (
                                    shortDateProduct of pickListItem.shortDateList;
                                    track $index
                                ) {
                                    <tr>
                                        <td class="text-center">
                                            {{ shortDateProduct.unitNumber }}
                                        </td>
                                        <td class="text-center">
                                            {{ shortDateProduct.productCode }}
                                        </td>
                                        <td class="text-center">
                                            {{ shortDateProduct.aboRh }}
                                        </td>
                                        <td class="text-center">
                                            {{
                                                shortDateProduct.storageLocation
                                            }}
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        }
                    </table>
                } @else {
                    <div id="shortDateDetailsEmpty">
                        There are no suggested short-dated products.
                    </div>
                }
            </div>
        }
    </div>
</div>
