<settings>
    <servers>
        <server>
            <id>central</id>
            <username>${ARTIFACTORY_REGISTRY_USER}</username>
            <password>${ARTIFACTORY_REGISTRY_PASSWORD}</password>
        </server>
    </servers>
    <profiles>
        <profile>
            <id>artifactory</id>
            <repositories>
                <repository>
                    <id>central</id>
                    <url>https://artifactory.sha.ao.arc-one.com/artifactory/maven</url>
                </repository>
                <repository>
                    <id>snapshots</id>
                    <url>https://artifactory.sha.ao.arc-one.com/artifactory/maven</url>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>central</id>
                    <url>https://artifactory.sha.ao.arc-one.com/artifactory/maven</url>
                </pluginRepository>
                <pluginRepository>
                    <id>snapshots</id>
                    <url>https://artifactory.sha.ao.arc-one.com/artifactory/maven</url>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>artifactory</activeProfile>
    </activeProfiles>
</settings>
