
<div class="flex flex-auto flex-col">
    <biopro-process-header
        [subTitle]="header.subTitle | async"
        [title]="header.title | async"
        [buttons]="actionButtonsTpl"
        [label]="actionLabelTpl"
    />

    <ng-template #actionLabelTpl>
        <div class="flex flex-row pb-2">
            <h1 [class]="getTemperatureProductCategoryClass(temperatureProductCategory)">{{temperatureProductCategory | uppercase}}</h1>
        </div>
    </ng-template>

    <ng-template #actionButtonsTpl>
        <div class="flex flex-row gap-2">
            <biopro-action-button
                id="productInformationCancel"
                btnId="productInformationCancelActionButton"
                label="Cancel"
                [disabled]="true"
                color="secondary"
                icon="heroicons_outline:x-circle"
            />

            <biopro-action-button
                id="productInformationSubmit"
                btnId="productInformationSubmitActionButton"
                label="Submit"
                [disabled]="true"
                color="primary"
                icon="heroicons_outline:paper-airplane"
            />
        </div>
    </ng-template>

    <div class="flex flex-col md:flex-row md:gap-4 md:p-4 items-start">
        <!-- ENTER PRODUCT INFORMATION -->
        <fuse-card class="flex flex-col w-full md:w-3/12">
            <div class="border-b text-lg font-bold p-4">Enter Product Information</div>
                <div class="flex flex-col md:p-4 gap-4 md:gap-4 justify-center">
                    <form [formGroup]="productInformationForm">
                        <!--Unit Number-->
                        <biopro-input
                            label="Unit Number"
                            id="unitNumber"
                            placeholder="Unit Number"
                            [upperCase]="true"
                            validateOn="blur"
                            inputId="unitNumberInput"
                            formControlName="unitNumber"
                            (inputBlur)="onTabEnter(field.UNIT_NUMBER)"
                            [inputFocus]="fieldsMap.get(field.UNIT_NUMBER)?.focus"
                            (tabOrEnterPressed)="onTabEnter(field.UNIT_NUMBER)"
                            (keydown)="onKeyDown(field.UNIT_NUMBER, $event)"
                            (paste)="onPaste(field.UNIT_NUMBER)"
                            [customErrors]="{
                                required: 'Unit Number is required',
                                invalidScannedUnitNumber: 'Unit Number is invalid',
                            }"
                            [propagateParentErrors]="true"
                        ></biopro-input>

                        <!--Blood Type-->
                        <biopro-input
                            label="Blood Type"
                            id="bloodType"
                            placeholder="Blood Type"
                            [upperCase]="true"
                            validateOn="blur"
                            inputId="bloodTypeInput"
                            formControlName="bloodType"
                            (inputBlur)="onTabEnter(field.BLOOD_TYPE)"
                            [inputFocus]="fieldsMap.get(field.BLOOD_TYPE)?.focus"
                            (tabOrEnterPressed)="onTabEnter(field.BLOOD_TYPE)"
                            (keydown)="onKeyDown(field.BLOOD_TYPE, $event)"
                            (paste)="onPaste(field.BLOOD_TYPE)"
                            [customErrors]="{
                            required: 'Blood Type is required',
                            invalidScannedbloodType:
                                'Blood Type is invalid',
                        }"
                        [propagateParentErrors]="true"
                    ></biopro-input>

                        <!--Product Code-->
                        <biopro-input
                            label="Product Code"
                            id="productCode"
                            placeholder="Product Code"
                            [upperCase]="true"
                            validateOn="blur"
                            inputId="productCodeInput"
                            formControlName="productCode"
                            (inputBlur)="onTabEnter(field.PRODUCT_CODE)"
                            [inputFocus]="fieldsMap.get(field.PRODUCT_CODE)?.focus"
                            (tabOrEnterPressed)="onTabEnter(field.PRODUCT_CODE)"
                            (keydown)="onKeyDown(field.PRODUCT_CODE, $event)"
                            (paste)="onPaste(field.PRODUCT_CODE)"
                            [customErrors]="{
                                required: 'Product Code is required',
                                invalidScannedProductCode:
                                    'Product Code is invalid',
                            }"
                            [propagateParentErrors]="true"
                        ></biopro-input>

                        <!--Expiration Date-->
                        <biopro-input
                            label="Expiration Date"
                            id="expirationDate"
                            placeholder="Expiration Date"
                            validateOn="blur"
                            inputId="expirationDateInput"
                            formControlName="expirationDate"
                            (inputBlur)="onTabEnter(field.EXPIRATION_DATE)"
                            [inputFocus]="fieldsMap.get(field.EXPIRATION_DATE)?.focus"
                            (tabOrEnterPressed)="onTabEnter(field.EXPIRATION_DATE)"
                            (keydown)="onKeyDown(field.EXPIRATION_DATE, $event)"
                            (paste)="onPaste(field.EXPIRATION_DATE)"
                            [customErrors]="{
                                required: 'Expiration Date is required',
                                invalidScannedExpirationDate:
                                    'Expiration Date is invalid',
                            }"
                            [propagateParentErrors]="true"
                        ></biopro-input>

                        <!-- License Status Toggle Button-->
                        <biopro-custom-button-toggle
                            [showLabel]="true"
                            [label]="'License Status'"
                            [isDisabled]="false"
                            [hideSingleSelectionIndicator]="false"
                            [required]="true"
                            toggleId="licenseStatusId"
                            [options]="licensedOptions"
                            [control]="productInformationForm.get('licenseStatus')"
                        >
                        </biopro-custom-button-toggle>

                        <!-- Product Visual Inspection Toggle Button-->
                        <div class="pt-3">
                            <biopro-custom-button-toggle
                                [showLabel]="true"
                                [label]="'Product Visual Inspection'"
                                [isDisabled]="false"
                                [hideSingleSelectionIndicator]="true"
                                [required]="true"
                                toggleId="visualInspectionId"
                                [options]="visualInspectionOptions"
                                [control]="productInformationForm.get('visualInspection')"
                            >
                        </biopro-custom-button-toggle> 
                        </div>
                    </form>

                    <mat-dialog-actions align="end" class="space-x-4">
                        <biopro-basic-button
                            id="btnReset"
                            label="Reset"
                            [disabled]="!productInformationForm.dirty"
                            (buttonClicked)="resetForm()"
                            color="secondary"
                        ></biopro-basic-button>
                        <biopro-basic-button
                            id="btnAdd"
                            class="mat-primary-action text-white"
                            color="primary"
                            [disabled]="!productInformationForm.valid"
                            label="Add"
                        ></biopro-basic-button>
                    </mat-dialog-actions>
                </div>
        </fuse-card>

        <!-- ADDED PRODUCTS -->
        <div class="flex flex-col w-full md:w-9/12">
            <biopro-table
                #importedProductInformationTable
                tableId="importedProductsTableId"
                [tableContainerClass]="'h-[calc(100vh-350px)] min-h-[300px] overflow-auto'"
                [dataSource]="importedProducts()"
                [configuration]="importedProductsTableConfigComputed()"
                [pageIndex]="0"
                [serverPagination]="false"
            >
        </biopro-table>

        <ng-template #expirationDateTemplateRef let-element="element">
            {{ element?.expirationDate | date: 'MM/dd/yyyy' }}
        </ng-template>
        <ng-template #visualInspectionTemplateRef let-element="element">
            <span [class]="getVisualInspectionClass(element.visualInspection)">
                {{ element.visualInspection | uppercase}}
            </span>
        </ng-template>
        <ng-template #quarantinedTemplateRef let-element="element">
            <span [class]="getQuarantinedClass(element.quarantined)">
                {{getQuarantinedValue(element.quarantined)}}
            </span>
        </ng-template>
        <ng-template #licenseStatusTemplateRef let-element="element">
            <span [class]="getLicenseStatusClass(element.licenseStatus)">
                {{ element.licenseStatus | uppercase}}
            </span>
        </ng-template>
        </div>
    </div>
</div>
