<app-filters
    [disabled]="!enableSubmit"
    [appliedTotalFilterCount]="appliedFiltersCounter"
    (search)="applyFilterSearch()"
    (resetSearchFilter)="resetFilters()"
    (showFilterControl)="toggleFilter($event)"
    [showFilters]="showFilters"
>
    <form
        [formGroup]="searchForm"
        class="inline-form flex w-full flex-col"
        id="searchFormId"
    >
        <div class="w-full pt-2">
            <div class="grid grid-cols-1 gap-3 md:grid-cols-3">
                <mat-form-field class="block w-full" id="orderNumber">
                    <mat-label id="orderNumberLabel"> Order Number </mat-label>
                    <input
                        id="orderNumberInput"
                        matInput
                        formControlName="orderNumber"
                        placeholder="Enter External Order ID or BioPro Order ID"
                        maxlength="25"
                        autocomplete="off"
                        #orderNumber
                    />
                    <mat-hint id="orderNumberHint" align="end">
                        {{ orderNumber.value.length }} / 25
                    </mat-hint>
                </mat-form-field>

                <app-multiple-select
                    [formGroup]="searchForm"
                    [controlName]="'orderStatus'"
                    title="Order Status"
                    [items]="statusOptions"
                ></app-multiple-select>

                <app-multiple-select
                    [formGroup]="searchForm"
                    [controlName]="'deliveryTypes'"
                    title="Order Priority"
                    [items]="priorityOptions"
                ></app-multiple-select>

                <app-multiple-select
                    [formGroup]="searchForm"
                    [controlName]="'customers'"
                    title="Ship to Customer"
                    [items]="customers"
                ></app-multiple-select>

                <app-date-range-picker
                    [formGroup]="searchForm"
                    dateFromFormControlName="createDateFrom"
                    dateToFormControlName="createDateTo"
                    title="Create date"
                ></app-date-range-picker>

                <app-date-range-picker
                    [formGroup]="searchForm"
                    dateFromFormControlName="desiredShipDateFrom"
                    dateToFormControlName="desiredShipDateTo"
                    title="Desired shipment date"
                ></app-date-range-picker>
            </div>
        </div>
    </form>
</app-filters>
