<app-filters
    [appliedTotalFilterCount]="totalFieldsApplied"
    (resetSearchFilter)="resetFilters()"
    (showFilterControl)="toggleFilter($event)"
    [showFilters]="showFilters()"
>
    <form
        [formGroup]="form"
        class="inline-form flex w-full flex-col"
        id="searchShipmentFormId"
    >
        <div class="w-full pt-2">
            <div class="grid grid-cols-1 gap-3 md:grid-cols-3">
                <mat-form-field class="block">
                    <mat-label> Shipment Number </mat-label>
                    <input
                        id="shipmentNumberId"
                        matInput
                        formControlName="shipmentNumber"
                        placeholder="Enter Shipment Number"
                        maxlength="50"
                        autocomplete="off"
                    />
                </mat-form-field>

                <app-multiple-select
                    [formGroup]="form"
                    [items]="customersOptions()"
                    controlName="customer"
                    title="Customer"
                    matSelectId="customerSelect"
                />

                <app-multiple-select
                    [formGroup]="form"
                    [items]="productTypesOptions()"
                    controlName="productFamily"
                    title="Product Family"
                    matSelectId="productFamilySelect"
                />

                <app-multiple-select
                    [formGroup]="form"
                    [items]="shipmentTypesOptions()"
                    controlName="shipmentStatus"
                    title="Shipment Status"
                    matSelectId="shipmentStatusSelect"
                />

                <app-date-range-picker
                    [formGroup]="getDateRangeFormGroup('shipmentDate')"
                    matDatepickerMinErrorMessage="Date range exceeds two years"
                    matEndDateInvalidMessage="Initial date should not be greater than final date"
                    matDatepickerMaxMessage="Final date should not be greater than today"
                    title="Shipment Date"
                    dateRangeId="shipmentDate"
                    [maxDate]="today"
                />

                <app-multiple-select
                    [formGroup]="form"
                    [items]="locationsOptions()"
                    controlName="location"
                    title="Location"
                    matSelectId="locationSelect"
                />

                <mat-form-field class="block">
                    <mat-label>Transportation Reference Number</mat-label>
                    <input
                        id="transportationReferenceNumber"
                        matInput
                        formControlName="transportationReferenceNumber"
                        placeholder="Enter Transportation Reference Number"
                        maxlength="10"
                        autocomplete="off"
                    />
                </mat-form-field>
            </div>
        </div>
    </form>
</app-filters>
