<div id="fillProductForm" class="flex flex-col" [formGroup]="productGroup">
    <div class="flex w-full flex-row space-x-6 px-8 pb-4 pt-4">
        <div class="flex w-3/4 flex-col space-y-1">
            <rsa-scan-unit-number-check-digit
                id="scanOrEnterUnitNumberId"
                [showCheckDigit]="showCheckDigit"
                (validate)="verifyUnit($event)"
                #unitnumber
            >
            </rsa-scan-unit-number-check-digit>
        </div>

        <div class="flex w-full flex-row space-x-6">
            <div class="w-2/3 space-y-1">
                <div class="mt-0 flex flex-auto flex-col">
                    <mat-form-field class="block w-full">
                        <mat-label class="block font-bold"
                            >Product Code</mat-label
                        >
                        <input
                            id="productCodeId"
                            #inputProductCode
                            matInput
                            formControlName="productCode"
                            autocomplete="off"
                            validateOn="touchedState"
                            rsaBarcode
                            (keyup)="enableVisualInspection()"
                            (keydown.Enter)="onEnterProductCode()"
                            (keydown.Tab)="enableVisualInspection()"
                            [placeholder]="'Scan or Enter Product Code'"
                        />
                        @if (
                            productGroup.get('productCode').hasError('required')
                        ) {
                            <mat-error>Product Code is Required</mat-error>
                        }

                        @if (
                            productGroup
                                .get('productCode')
                                .hasError('invalidProductCode')
                        ) {
                            <mat-error>Product Code is Invalid</mat-error>
                        }
                    </mat-form-field>
                </div>
            </div>
            @if (showVisualInspection) {
                <div class="flex w-2/3 flex-col space-y-1">
                    <span class="flex pl-2">
                        <label for="visualInspectionId" class="block font-bold"
                            >Visual Inspection</label
                        >
                        <span class="custom-required">*</span>
                    </span>
                    <div class="mb-4 flex w-full flex-col">
                        <mat-radio-group
                            id="visualInspectionId"
                            required
                            class="flex"
                            formControlName="visualInspection"
                            ngDefaultControl
                            (change)="onSelectVisualInspection()"
                        >
                            <mat-radio-button
                                id="inspection-satisfactory"
                                class="mr-4 font-bold"
                                [value]="'satisfactory'"
                                >Satisfactory</mat-radio-button
                            >
                            <mat-radio-button
                                id="inspection-unsatisfactory"
                                class="font-bold"
                                [value]="'unsatisfactory'"
                            >
                                Unsatisfactory
                            </mat-radio-button>
                        </mat-radio-group>
                    </div>
                    @if (
                        productGroup
                            .get('visualInspection')
                            .hasError('required')
                    ) {
                        <span class="custom-error-message"
                            >Visual Inspection is Required</span
                        >
                    }
                </div>
            }
        </div>
    </div>
</div>
