<div class="flex flex-col flex-auto space-y-1">
  <rsa-process-header
    [subTitle]="header.subTitle$ | async | translate"
    [title]="header.title$ | async | translate"
    [buttons]="actionButtonsTpl"
  ></rsa-process-header>

  <div class="w-full flex flex-row space-x-8 p-4">
    <div
      class="flex flex-col flex-auto"
      [ngClass]="{
        'w-full': !reviewAndSubmitStep,
        'w-3/4': reviewAndSubmitStep
      }"
    >
      <mat-horizontal-stepper linear #stepper (selectionChange)="stepSelectionChange($event)">
        <!-- Step 1 - Order Information Form -->
        <mat-step [stepControl]="orderGroup" [completed]="false">
          <form id="projectInfoForm" [formGroup]="orderGroup" class="flex flex-col w-full mt-3">
            <ng-template matStepLabel>{{ 'order-information.label' | translate }}</ng-template>
            <div class="flex w-full flex-row space-x-8 mb-8">
              <div class="flex flex-col w-1/2 space-y-3">
                <div class="flex flex-col space-y-1">
                  <mat-label class="font-bold min-w-60">{{ 'order-number.label' | translate }}</mat-label>
                  <div class="flex flex-col">
                    <mat-form-field class="flex-auto">
                      <input id="orderNumber" matInput formControlName="orderNumber" />
                    </mat-form-field>
                  </div>
                </div>
                <div class="flex flex-col space-y-1">
                  <mat-label class="font-bold min-w-60">{{ 'external-order-id.label' | translate }}</mat-label>
                  <div class="flex flex-col">
                    <mat-form-field class="flex-auto" rsaControlErrorContainer>
                      <input
                        id="externalId"
                        matInput
                        formControlName="externalId"
                        autocomplete="off"
                        [maxLength]="EXTERNAL_ID_MAX_LENGTH"
                      />
                    </mat-form-field>
                    <ng-container
                      *ngIf="
                        orderGroup.controls.externalId.touched &&
                        orderGroup.controls.externalId.hasError('alreadyExists')
                      "
                    >
                      <rsa-control-error
                        [hide]="false"
                        [text]="'external-order-id.label' | validation: validationType.ALREADY_EXISTS"
                      ></rsa-control-error>
                    </ng-container>
                  </div>
                </div>
                <div class="flex flex-col pt-2 space-y-1">
                  <div class="flex flex-col">
                    <mat-form-field appearance="fill" class="block w-full" rsaControlErrorContainer>
                      <mat-label class="font-bold min-w-60">{{ 'shipment-type.label' | translate }}</mat-label>
                      <mat-select
                        id="shipmentTypeSelect"
                        formControlName="shipmentType"
                        required
                        validateOn="touchedState"
                        [placeholder]="'select-an-option.label' | translate"
                        (ngModelChange)="changeShipmentType($event)"
                        [customErrors]="{
                          required: 'shipment-type.label' | validation: validationType.REQUIRED
                        }"
                      >
                        <mat-option *ngFor="let shipmentType of shipmentTypes" [value]="shipmentType.optionValue">{{
                          shipmentType.descriptionKey | translate
                        }}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div class="flex flex-col pt-2 pb-4 space-y-1" *ngIf="!internalTransferSelected">
                  <label class="font-bold min-w-60">{{ 'customer-search-criteria.label' | translate }}</label>
                  <div class="flex flex-col mb-4">
                    <mat-radio-group
                      id="customerSearchCriteria"
                      class="flex pt-2"
                      formControlName="customerSearchCriteria"
                    >
                      <mat-radio-button class="mr-4" [value]="'customer-name'" checked>{{
                        'customer-name.label' | translate
                      }}</mat-radio-button>
                      <mat-radio-button [value]="'customer-id'">{{ 'customer-id.label' | translate }}</mat-radio-button>
                    </mat-radio-group>
                  </div>
                </div>
                <div class="flex flex-col pt-2 pb-4 space-y-1" *ngIf="internalTransferSelected">
                  <label class="font-bold min-w-60">{{ 'location-search-criteria.label' | translate }}</label>
                  <div class="flex flex-col mb-4">
                    <mat-radio-group
                      id="locationSearchCriteria"
                      class="flex pt-2"
                      formControlName="locationSearchCriteria"
                    >
                      <mat-radio-button class="mr-4" [value]="'location-name'" checked>{{
                        'location-name.label' | translate
                      }}</mat-radio-button>
                      <mat-radio-button [value]="'location-id'">{{ 'location-id.label' | translate }}</mat-radio-button>
                    </mat-radio-group>
                  </div>
                </div>
                <div class="flex flex-col space-y-1 pb-2" *ngIf="!internalTransferSelected">
                  <div class="flex flex-col">
                    <mat-form-field class="flex-auto">
                      <mat-label class="font-bold min-w-60">{{ 'ship-to-customer.label' | translate }}</mat-label>
                      <input
                        id="shipToCustomer"
                        matInput
                        formControlName="shipToCustomer"
                        validateOn="blur"
                        required
                        rsaNoControlErrors
                        [matAutocomplete]="shipAuto"
                      />
                      <mat-autocomplete #shipAuto="matAutocomplete" [displayWith]="displayCustomerFn">
                        <mat-option
                          *ngFor="let option of shipCustomers | async"
                          [value]="option"
                          (onSelectionChange)="selectedCustomer(option, SHIPPING_CUSTOMER)"
                        >
                          {{ option.externalId + ' - ' + option.name }}
                        </mat-option>
                      </mat-autocomplete>
                    </mat-form-field>
                    <ng-container
                      *ngIf="orderGroup.controls.shipToCustomer.touched && orderGroup.controls.shipToCustomer.errors"
                    >
                      <rsa-control-error
                        *ngIf="
                          orderGroup.controls.shipToCustomer.hasError('required') ||
                            orderGroup.controls.shipToCustomer.hasError('whiteSpace');
                          else invalidCustomer
                        "
                        [hide]="false"
                        [text]="'ship-to-customer.label' | validation: validationType.REQUIRED"
                      ></rsa-control-error>
                      <ng-template #invalidCustomer>
                        <rsa-control-error
                          [hide]="false"
                          [text]="'no-matching-customer.label' | translate"
                        ></rsa-control-error>
                      </ng-template>
                    </ng-container>
                  </div>
                  <mat-checkbox formControlName="sameCustomer" id="sameCustomerChk" *ngIf="!currentOrder">
                    {{ 'same-customer.label' | translate }}
                  </mat-checkbox>
                </div>

                <div class="flex flex-col space-y-1" *ngIf="!internalTransferSelected">
                  <div class="flex flex-col">
                    <mat-form-field class="flex-auto">
                      <mat-label class="font-bold min-w-60">{{ 'bill-to-customer.label' | translate }}</mat-label>
                      <input
                        id="billToCustomer"
                        matInput
                        formControlName="billToCustomer"
                        validateOn="blur"
                        required
                        rsaNoControlErrors
                        [matAutocomplete]="billAuto"
                      />
                      <mat-autocomplete #billAuto="matAutocomplete" [displayWith]="displayCustomerFn">
                        <mat-option
                          *ngFor="let option of billCustomers | async"
                          [value]="option"
                          (onSelectionChange)="selectedCustomer(option, BILLING_CUSTOMER)"
                        >
                          {{ option.externalId + ' - ' + option.name }}
                        </mat-option>
                      </mat-autocomplete>
                    </mat-form-field>
                    <ng-container
                      *ngIf="orderGroup.controls.billToCustomer.touched && orderGroup.controls.billToCustomer.errors"
                    >
                      <rsa-control-error
                        *ngIf="
                          orderGroup.controls.billToCustomer.hasError('required') ||
                            orderGroup.controls.billToCustomer.hasError('whiteSpace');
                          else invalidCustomer
                        "
                        [hide]="false"
                        [text]="'bill-to-customer.label' | validation: validationType.REQUIRED"
                      ></rsa-control-error>
                      <ng-template #invalidCustomer>
                        <rsa-control-error
                          [hide]="false"
                          [text]="'no-matching-customer.label' | translate"
                        ></rsa-control-error>
                      </ng-template>
                    </ng-container>
                  </div>
                </div>

                <div class="flex flex-col space-y-1" *ngIf="internalTransferSelected">
                  <div class="flex flex-col">
                    <mat-form-field class="flex-auto" rsaControlErrorContainer>
                      <mat-label class="font-bold min-w-60">{{ 'ship-to-location.label' | translate }}</mat-label>
                      <input
                        id="shipToLocation"
                        matInput
                        formControlName="shipToLocation"
                        validateOn="touchedState"
                        required
                        [matAutocomplete]="shipToAuto"
                        [customErrors]="{
                          noMatchingLocations: 'no-matching-locations.label' | translate
                        }"
                      />
                      <mat-autocomplete #shipToAuto="matAutocomplete" [displayWith]="displayLocationFn">
                        <mat-option
                          *ngFor="let location of filteredLocations$ | async"
                          [value]="location"
                          (onSelectionChange)="selectedLocation(location)"
                        >
                          {{ location.name }}
                        </mat-option>
                      </mat-autocomplete>
                    </mat-form-field>
                  </div>
                </div>
                <div class="flex flex-col space-y-1" *ngIf="!internalTransferSelected">
                  <div class="flex flex-row items-center space-x-3">
                    <mat-label class="font-bold min-w-60">{{ 'added-fees.label' | translate }}</mat-label>
                    <div class="flex flex-col w-20">
                      <mat-label class="block min-w-60">{{
                        orderGroup.get('orderServiceFees')?.value?.length
                      }}</mat-label>
                    </div>
                    <div class="flex flex-col ml-4">
                      <button
                        type="button"
                        id="serviceFee"
                        class="btn-red-light"
                        mat-stroked-button
                        (click)="serviceFeeClick()"
                      >
                        {{ 'service-fee.label' | translate }}
                      </button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="flex flex-col w-1/2 space-y-3">
                <div class="flex flex-col space-y-1 mb-1">
                  <div class="flex flex-col">
                    <mat-form-field appearance="fill">
                      <mat-label class="font-bold min-w-60">{{ 'ship-date.label' | translate }}</mat-label>
                      <input
                        id="desireShippingDate"
                        matInput
                        required
                        [matDatepicker]="desireShippingDate"
                        formControlName="desireShippingDate"
                        validateOn="touchedState"
                        autocomplete="off"
                        rsaNoControlErrors
                        (dateChange)="showHidePastWarning($event)"
                      />
                      <mat-datepicker-toggle matSuffix [for]="desireShippingDate"></mat-datepicker-toggle>
                      <mat-datepicker #desireShippingDate></mat-datepicker>
                    </mat-form-field>
                    <ng-container
                      *ngIf="
                        orderGroup?.controls?.desireShippingDate?.touched &&
                        orderGroup?.controls?.desireShippingDate?.errors
                      "
                    >
                      <rsa-control-error
                        [hide]="false"
                        [text]="
                          'ship-date.label'
                            | validation
                              : (orderGroup.controls.desireShippingDate.hasError('matDatepickerParse')
                                  ? validationType.INVALID
                                  : validationType.REQUIRED)
                        "
                      ></rsa-control-error>
                    </ng-container>
                  </div>
                  <p class="past-order-warning" *ngIf="showPastOrderWarning">
                    {{ 'order-in-the-past.label' | translate }}
                  </p>
                </div>
                <div class="flex flex-col space-y-1">
                  <div class="flex flex-col">
                    <mat-form-field appearance="fill" class="block w-full" rsaControlErrorContainer>
                      <mat-label class="font-bold min-w-60">{{ 'shipping-method.label' | translate }}</mat-label>
                      <mat-select
                        id="shippingMethod"
                        formControlName="shippingMethod"
                        required
                        validateOn="touchedState"
                        [placeholder]="'select-an-option.label' | translate"
                        [customErrors]="{
                          required: 'shipping-method.label' | validation: validationType.REQUIRED
                        }"
                      >
                        <mat-option *ngFor="let method of shippingMethods" [value]="method.optionValue">{{
                          method.descriptionKey | translate
                        }}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div class="flex flex-col space-y-1">
                  <div class="flex flex-col">
                    <mat-form-field appearance="fill" class="block w-full" rsaControlErrorContainer>
                      <mat-label class="font-bold min-w-60">{{ 'priority.label' | translate }}</mat-label>
                      <mat-select
                        id="priority"
                        required
                        formControlName="deliveryType"
                        validateOn="touchedState"
                        [placeholder]="'select-an-option.label' | translate"
                        [customErrors]="{
                          required: 'priority.label' | validation: validationType.REQUIRED
                        }"
                      >
                        <mat-option *ngFor="let priority of priorities" [value]="priority.optionValue">{{
                          priority.descriptionKey | translate
                        }}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div class="flex flex-col space-y-1">
                  <div class="flex flex-col">
                    <mat-form-field appearance="fill" class="block w-full" rsaControlErrorContainer>
                      <mat-label class="font-bold min-w-60">{{
                        'labeling-product-category.label' | translate
                      }}</mat-label>
                      <mat-select
                        id="labelingProductCategory"
                        formControlName="productCategoryKey"
                        validateOn="touchedState"
                        required
                        (selectionChange)="labelingProdSelectionChange($event)"
                        [placeholder]="'select-an-option.label' | translate"
                        [customErrors]="{
                          required: 'labeling-product-category.label' | validation: validationType.REQUIRED
                        }"
                      >
                        <mat-option *ngFor="let cat of labelingProdCategories" [value]="cat.optionValue">{{
                          cat.descriptionKey | translate
                        }}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div class="flex flex-col space-y-1" *ngIf="internalTransferSelected">
                  <div class="flex flex-col">
                    <mat-form-field appearance="fill" class="block w-full" rsaControlErrorContainer>
                      <mat-label class="font-bold min-w-60">{{ 'label-status.label' | translate }}</mat-label>
                      <mat-select
                        id="labelStatus"
                        formControlName="labelStatus"
                        validateOn="touchedState"
                        required
                        (selectionChange)="changeLabelStatus()"
                        [placeholder]="'select-an-option.label' | translate"
                        [customErrors]="{
                          required: 'label-status.label' | validation: validationType.REQUIRED
                        }"
                      >
                        <mat-option *ngFor="let status of labelStatuses" [value]="status.optionValue">{{
                          status.descriptionKey | translate
                        }}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div class="flex flex-col space-y-1">
                  <mat-label class="font-bold min-w-60">{{ 'comments.label' | translate }}</mat-label>
                  <div class="flex flex-col">
                    <mat-form-field appearance="fill" class="flex-auto w-full">
                      <textarea
                        formControlName="comments"
                        id="commentTAId"
                        matInput
                        cdkTextareaAutosize
                        [maxLength]="ORDER_COMMENT_MAX_LENGTH"
                        [cdkAutosizeMinRows]="2"
                      ></textarea>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
            <mat-divider></mat-divider>
            <div class="flex flex-row-reverse mt-2">
              <button
                id="step1NextBtn"
                class="bg-gray-light"
                mat-stroked-button
                [disabled]="!orderGroup.valid || !isAutoCompleteSelected()"
                (click)="step1NextClick()"
              >
                {{ 'next.label' | translate }}
              </button>
            </div>
          </form>
        </mat-step>

        <!-- Step 2 - Product Selection -->
        <mat-step [stepControl]="productCountControl" [completed]="false">
          <form id="productSelectionForm" class="mt-3">
            <ng-template matStepLabel>{{ 'product-selection.label' | translate }}</ng-template>
            <div class="flex flex-col">
              <rsa-description-card
                title=""
                [descriptions]="prodSelectionDescriptions"
                [maxRows]="2"
              ></rsa-description-card>
            </div>
            <div class="flex flex-col flex-auto mb-8">
              <ng-container *ngTemplateOutlet="addedProductTpl; context: { review: false }"></ng-container>
            </div>
            <mat-divider></mat-divider>
            <div class="flex flex-row-reverse mt-2">
              <div class="flex flex-row space-x-3">
                <button id="step2BackBtn" class="bg-gray-light" mat-stroked-button matStepperPrevious>
                  {{ 'back.label' | translate }}
                </button>
                <button
                  id="step2NextBtn"
                  class="bg-gray-light"
                  mat-stroked-button
                  [disabled]="products.length === 0"
                  (click)="step2NextClick()"
                >
                  {{ 'next.label' | translate }}
                </button>
              </div>
            </div>
          </form>
        </mat-step>

        <!-- Step 3 - Review And Submit -->
        <mat-step [completed]="false">
          <div id="reviewAndSubmit" class="mt-3">
            <ng-template matStepLabel>{{ 'review-submit-order.label' | translate }}</ng-template>
            <div class="flex flex-col space-y-3 mb-8">
              <div class="flex flex-col">
                <ng-container *ngTemplateOutlet="addedProductTpl; context: { review: true }"></ng-container>
              </div>
            </div>
            <mat-divider></mat-divider>
            <div class="flex flex-row-reverse mt-2">
              <div class="flex flex-row space-x-3">
                <button id="step3BackBtn" mat-stroked-button matStepperPrevious>{{ 'back.label' | translate }}</button>
                <button
                  id="step3SubmitBtn"
                  type="button"
                  class="bg-green-highlighted"
                  mat-stroked-button
                  (click)="onSubmit()"
                >
                  {{ 'submit.label' | translate }}
                </button>
              </div>
            </div>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </div>
    <div class="flex flex-col flex-auto w-1/4" *ngIf="reviewAndSubmitStep">
      <rsa-order-widget-sidebar
        [feesInfoDescriptions]="feesInfoDescriptions"
        [billInfoDescriptions]="billInfoDescriptions"
        [orderInfoDescriptions]="orderInfoDescriptions"
        [shippingInfoDescriptions]="shippingInfoDescriptions"
        [comments]="orderGroup?.value?.comments"
      ></rsa-order-widget-sidebar>
    </div>
  </div>
</div>

<ng-template #actionButtonsTpl>
  <div class="flex flex-row space-x-2">
    <button id="cancelOrderBtn" class="primary" mat-stroked-button (click)="cancelOrder()">
      {{ 'cancel.label' | translate }}
    </button>
  </div>
</ng-template>

<ng-template #addedProductTpl let-review="review">
  <div class="flex flex-row justify-between items-end m-4">
    <div class="flex flex-row space-x-12">
      <div class="flex flex-row">
        <span class="mb-1 text-left font-bold mr-4 w-50">{{ 'labeling-product-category.label' | translate }}:</span>
        <span class="flex-auto text-left">{{ labelingProductCategory | translate | uppercase }}</span>
      </div>
    </div>
    <button
      id="addProdSelection"
      class="btn-red-light pl-2 pr-4"
      mat-stroked-button
      (click)="addProduct()"
      *ngIf="!review"
    >
      <mat-icon [svgIcon]="'add'"></mat-icon>
      {{ 'add.label' | translate }}
    </button>
  </div>
  <treo-card class="flex-col pb-4">
    <div class="treo-card-title">
      <div class="flex flex-row w-full justify-between px-5 items-baseline">
        <h3>{{ 'added-products.label' | translate }}</h3>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="flex flex-col flex-auto space-y-1">
      <div class="table-wrapper">
        <p-table
          #productTable
          [value]="products"
          id="productTableId"
          dataKey="rowIndex"
          [rows]="10"
          [showCurrentPageReport]="true"
          [rowsPerPageOptions]="[10, 25, 50]"
          (sortFunction)="sortProducts($event)"
          [customSort]="true"
          styleClass="p-datatable-customers p-datatable-sm"
          [paginator]="true"
          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        >
          <ng-template pTemplate="header">
            <tr>
              <th class="w-12"></th>
              <th class="w-12"></th>
              <th pSortableColumn="quantity">
                <div class="p-d-flex p-jc-between p-ai-center">
                  {{ 'quantity.label' | translate }}
                  <p-sortIcon field="quantity"></p-sortIcon>
                </div>
              </th>
              <th pSortableColumn="bloodType.descriptionKey">
                <div class="p-d-flex p-jc-between p-ai-center">
                  {{ 'blood-type.label' | translate }}
                  <p-sortIcon field="bloodType.descriptionKey"></p-sortIcon>
                </div>
              </th>
              <th>
                <div class="p-d-flex p-jc-between p-ai-center">
                  {{ 'product-attributes.label' | translate }}
                </div>
              </th>
              <th pSortableColumn="productFamily.descriptionKey">
                <div class="p-d-flex p-jc-between p-ai-center">
                  {{ 'product-family.label' | translate }}
                  <p-sortIcon field="productFamily.descriptionKey"></p-sortIcon>
                </div>
              </th>
              <th *ngIf="!review"></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-product let-expanded="expanded" let-i="rowIndex">
            <tr>
              <td [ngStyle]="{ width: '30px' }">
                <button
                  id="expandRowBtn"
                  type="button"
                  class="p-button-text p-button-rounded p-button-plain"
                  pButton
                  pRipple
                  *ngIf="product?.productComment || product?.antigensTested?.length"
                  [pRowToggler]="product"
                  [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
                ></button>
              </td>
              <td>
                <mat-icon [svgIcon]="getIcon(product?.productFamily?.familyValue)" class="product-icon"></mat-icon>
              </td>
              <td *ngIf="review">{{ product.quantity }}</td>
              <td *ngIf="!review" pEditableColumn>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <mat-form-field class="treo-mat-no-subscript search-input w-16">
                      <input
                        matInput
                        pInputText
                        type="text"
                        [ngModel]="product.quantity"
                        name="quantity"
                        rsaMaskRegex
                        allowedCharsRegex="[0-9]+"
                        (ngModelChange)="productQuantityChange($event, product)"
                      />
                    </mat-form-field>
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{ product?.quantity }}
                  </ng-template>
                </p-cellEditor>
              </td>
              <td>
                {{ product?.bloodType?.descriptionKey | translate | uppercase }}
              </td>
              <td>
                <div class="flex flex-row flex-wrap gap-2">
                  <span
                    class="badge"
                    *ngFor="let attr of product?.productAttributes"
                    [ngStyle]="{ 'background-color': attr.color }"
                    >{{ attr?.descriptionKey | translate | uppercase }}</span
                  >
                </div>
              </td>
              <td>
                {{ product?.productFamily?.descriptionKey | translate | uppercase }}
              </td>
              <td *ngIf="!review">
                <div class="flex flex-row space-x-4 justify-center">
                  <button mat-raised-button class="bg-orange-light" (click)="edit(product, i)">
                    {{ 'edit.label' | translate }}
                  </button>
                  <button mat-raised-button class="bg-purple-light" (click)="delete(i)">
                    {{ 'delete.label' | translate }}
                  </button>
                </div>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="rowexpansion" let-product>
            <tr>
              <td [attr.colspan]="review ? 6 : 7">
                <div class="p-4">
                  <div class="flex flex-col space-y-2">
                    <div class="flex flex-row space-x-4 items-baseline" *ngIf="product?.antigensTested?.length">
                      <span class="font-bold mb-1 text-left mr-4 w-60">{{
                        'product.antigen-tested.attribute.label' | translate
                      }}</span>
                      <div class="flex flex-row space-x-2">
                        <span class="badge status-light-green" *ngFor="let attr of product?.antigensTested">{{
                          attr?.descriptionKey | translate
                        }}</span>
                      </div>
                    </div>
                    <div class="flex flex-row space-x-4" *ngIf="product?.productComment">
                      <span class="font-bold mb-1 text-left mr-4 w-60">{{ 'product-comments.label' | translate }}</span>
                      <span class="flex-auto text-left">{{ product?.productComment | uppercase }}</span>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="footer">
            <tr>
              <td [attr.colspan]="review ? 6 : 7" class="p-text-right">
                ({{ totalProducts }}) {{ 'total-components.label' | translate }}
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </treo-card>
</ng-template>
