<button
    id="menuBtn"
    mat-icon-button
    aria-label="Menu"
    [matMenuTriggerFor]="matMenu"
>
    <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #matMenu="matMenu">
    @for (menu of menus; track menu.id) {
        <button
            [id]="menu.id + 'Btn'"
            mat-menu-item
            [matMenuTriggerFor]="menu.subMenu ? menu.subMenu : null"
            [disabled]="menu.disabled"
            (click)="menu.click()"
        >
            @if (menu.icon) {
                <mat-icon [svgIcon]="menu.icon"></mat-icon>
            }
            <span>{{ menu.label }}</span>
        </button>
        @if (menu.subMenu) {
            <mat-menu #subMenu="matMenu">
                @for (subMenu of menu.subMenu; track subMenu.id) {
                    <button
                        [id]="subMenu.id + 'Btn'"
                        mat-menu-item
                        [disabled]="subMenu.disabled"
                        (click)="subMenu.click()"
                    >
                        @if (subMenu.icon) {
                            <mat-icon [svgIcon]="subMenu.icon"></mat-icon>
                        }
                        <span>{{ subMenu.label }}</span>
                    </button>
                }
            </mat-menu>
        }
    }
</mat-menu>
