<div class="grid grid-cols-1 md:grid-cols-6 gap-4">
    <!-- START TRANSIT TIME -->
    <mat-form-field class="md:col-span-2" [formGroup]="formGroup()">
      <mat-label>Transit Start Date</mat-label>
      <input data-testid="transit-time-start-date"
             formControlName="startDate"
             [matDatepicker]="transitTimeStartDatePicker"
             [max]="now"
             matInput
             required
             (keydown.enter)="triggerElementBlur($event)"
      />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="transitTimeStartDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #transitTimeStartDatePicker></mat-datepicker>
      @if (formGroup().controls.startDate.hasError('required')) { <mat-error>Transit Start Date is required</mat-error> }
    </mat-form-field>

    <mat-form-field class="md:col-span-2" [formGroup]="formGroup()">
      <mat-label>Transit Start Time</mat-label>
      <input data-testid="transit-time-start-time"
             type="time"
             formControlName="startTime"
             matInput
             required
             (keydown.enter)="triggerElementBlur($event)"
      />
      <mat-icon matIconSuffix>schedule</mat-icon>
      <mat-hint>HH:MM</mat-hint>
      @if (formGroup().controls.startTime.hasError('required')) { <mat-error>Transit Start Time is required</mat-error> }
    </mat-form-field>

    <mat-form-field class="md:col-span-2" [formGroup]="formGroup()">
      <mat-label>Start Time Zone</mat-label>
      <mat-select [attr.data-testid]="'transit-time-start-zone'" formControlName="startZone" required>
        @for (timeZone of availableTimeZones(); track $index) {
          <mat-option [value]="timeZone.optionValue">{{timeZone.descriptionKey}}</mat-option>
        }
      </mat-select>
      @if (formGroup().controls.startZone.hasError('required')) { <mat-error>Start Time Zone is required</mat-error> }
    </mat-form-field>

    <!-- END TRANSIT TIME -->
    <mat-form-field class="md:col-span-2" [formGroup]="formGroup()">
      <mat-label>Transit End Date</mat-label>
      <input data-testid="transit-time-end-date"
             formControlName="endDate"
             [matDatepicker]="transitTimeEndDatePicker"
             [min]="formGroup().controls?.startDate?.value || now"
             [max]="now" 
             matInput
             required
             (keydown.enter)="triggerElementBlur($event)"
      />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="transitTimeEndDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #transitTimeEndDatePicker></mat-datepicker>
      @if (formGroup().controls.endDate.hasError('required')) { <mat-error>Transit End Date is required</mat-error> }
      @if (formGroup().controls.endDate.hasError('matDatepickerMin')) { <mat-error>Transit End Date cannot be before the Transit Start Date</mat-error> }
    </mat-form-field>

    <mat-form-field class="md:col-span-2" [formGroup]="formGroup()">
      <mat-label>Transit End Time</mat-label>
      <input data-testid="transit-time-end-time"
             type="time"
             formControlName="endTime"
             matInput
             required
             (keydown.enter)="triggerElementBlur($event)"
      />
      <mat-icon matIconSuffix>schedule</mat-icon>
      <mat-hint>HH:MM</mat-hint>
      @if (formGroup().controls.endTime.hasError('required')) { <mat-error>Transit End Time is required</mat-error> }
    </mat-form-field>

    <mat-form-field class="md:col-span-2" [formGroup]="formGroup()">
      <mat-label>End Time Zone</mat-label>
      <mat-select [attr.data-testid]="'transit-time-end-zone'" formControlName="endZone" required>
        @for (timeZone of availableTimeZones(); track $index) {
          <mat-option [value]="timeZone.optionValue">{{timeZone.descriptionKey}}</mat-option>
        }
      </mat-select>
      @if (formGroup().controls.endZone.hasError('required')) { <mat-error>End Time Zone is required</mat-error> }
    </mat-form-field>

    @if (humanReadableTime()) {
      <div class="md:col-span-6 rounded-md bg-blue-100 p-6 text-center mb-2">
        <b>Total Transit Time:</b>&nbsp;<span data-testid="total-transit-time-value">{{ humanReadableTime() }}</span>
      </div>
    }
  </div>