.p-calendar.p-calendar-w-btn {
  .p-inputtext.p-component {
    min-width: 118px;
    padding-right: 0;
  }
}

button.p-datepicker-trigger.p-ripple.p-button.p-component.p-button-icon-only {
  padding: 4px !important;
  width: 30px !important;
}
