<div
    id="unitNumberAndProductCode"
    class="flex flex-col"
    [formGroup]="unitProductGroup"
>
    <div class="flex w-full flex-row space-x-6 px-8 pb-4 pt-4">
        <div class="flex w-3/4 flex-col space-y-1">
            <div class="flex w-full flex-col">
                <mat-form-field class="block" hideRequiredMarker="true">
                    <mat-label>Unit Number</mat-label>
                    <input
                        id="scanUnitNumberId"
                        #inputUnitNumber
                        matInput
                        appUppercase
                        formControlName="unitNumber"
                        [placeholder]="'Scan Unit Number'"
                        autocomplete="off"
                        class="w-full"
                        validateOn="touchedState"
                        (keyup)="enableProductCode()"
                        autofocus
                    />
                    @if (
                        unitProductGroup.get('unitNumber').hasError('required')
                    ) {
                        <mat-error>Unit Number is required</mat-error>
                    }
                    @if (
                        unitProductGroup
                            .get('unitNumber')
                            .hasError('invalidUnitNumber')
                    ) {
                        <mat-error>Unit Number is invalid</mat-error>
                    }
                    @if (
                        unitProductGroup
                            .get('unitNumber')
                            .hasError('manualEntryUnitNumber')
                    ) {
                        <mat-error>Scan Unit Number</mat-error>
                    }
                </mat-form-field>
            </div>
        </div>

        @if (showProductCode) {
        <div class="flex w-full flex-row space-x-6">
            <div class="w-2/3 space-y-1">
                <div class="mt-0 flex flex-auto flex-col">
                    <mat-form-field class="block" hideRequiredMarker="true">
                        <mat-label>Product Code</mat-label>
                        <input
                            id="scanProductCodeId"
                            #inputProductCode
                            matInput
                            appUppercase
                            formControlName="productCode"
                            autocomplete="off"
                            validateOn="touchedState"
                            [placeholder]="'Scan Product Code'"
                        />
                        @if (
                            unitProductGroup
                                .get('productCode')
                                .hasError('required')
                        ) {
                            <mat-error>Product Code is required</mat-error>
                        }

                        @if (
                            unitProductGroup
                                .get('productCode')
                                .hasError('invalidProductCode')
                        ) {
                            <mat-error>Product Code is invalid</mat-error>
                        }
                        @if (
                            unitProductGroup
                                .get('productCode')
                                .hasError('manualEntryProductCode')
                        ) {
                            <mat-error>Scan Product Code</mat-error>
                        }
                    </mat-form-field>
                </div>
            </div>
        </div>
        }
    </div>
</div>
