<div id="fillOrderForm" class="flex flex-col" [formGroup]="productGroup">
  <div class="flex flex-row space-x-10 px-8 pt-4">
    <div class="flex flex-row items-center w-1/2 space-x-1">
      <mat-label class="block font-bold w-32">{{ 'unit-number.label' | translate }}:</mat-label>
      <div class="flex flex-col flex-auto">
        <mat-form-field appearance="fill" class="block w-full" rsaControlErrorContainer>
          <input
            matInput
            id="unitNumberId"
            formControlName="unitNumber"
            autocomplete="off"
            [placeholder]="'scan-unit-number.label' | translate"
            [customErrors]="{ invalidUnitNumber: 'unit-number.label' | validation: validationType.INVALID }"
            [(rsaAutoFocusIf)]="unitNumberFocus"
            (keydown.enter)="onUnitNumberKeyOrTab($event)"
            (keydown.tab)="onUnitNumberKeyOrTab($event)"
          />
        </mat-form-field>
      </div>
    </div>

    <div class="flex flex-row items-center flex-auto space-x-1" *ngIf="isLabeledOrder">
      <mat-label class="block font-bold w-32">{{ 'product-code.label' | translate }}:</mat-label>
      <div class="flex flex-col flex-auto">
        <mat-form-field appearance="fill" class="block w-full" rsaControlErrorContainer>
          <input
            matInput
            id="productCodeId"
            formControlName="productCode"
            rsaFullProductCode
            autocomplete="off"
            [placeholder]="'scan-product-code.label' | translate"
            [customErrors]="{ invalidProductCode: 'product-code.label' | validation: validationType.INVALID }"
            [(rsaAutoFocusIf)]="productCodeFocus"
            (keydown.enter)="onProductCodeKeyOrTab($event)"
            (keydown.tab)="onProductCodeKeyOrTab($event)"
          />
        </mat-form-field>
      </div>
    </div>
  </div>
</div>

<ng-template #optionDescriptionTpl>
  <div class="flex flex-col space-y-3">
    <div>
      <span class="font-bold mr-2">{{ 'unit-number.label' | translate }}:</span>
      <span>{{ productGroup.get('unitNumber')?.value }}</span>
    </div>
    <div>{{ 'please-select-product.label' | translate }}.</div>
  </div>
</ng-template>
