<ng-template #buttons>
    <biopro-action-button
        id="cancelCheckInBtn"
        btnId="cancelCheckInActionBtn"
        label="Cancel"
        color="secondary"
        icon="heroicons_outline:x-circle"
        [disabled]="disableCancelButton"
        (clickEvent)="openCancelConfirmationDialog()"
    ></biopro-action-button>
    <biopro-action-button
        id="checkInBtn"
        btnId="checkInActionBtn"
        label="Submit"
        icon="heroicons_outline:paper-airplane"
        [disabled]="!isSubmitEnabled()"
        (clickEvent)="submit()"
    ></biopro-action-button>
</ng-template>

<div class="flex flex-auto flex-col space-y-1">

    <biopro-process-header
        [title]="'Irradiation'"
        [subTitle]="'Start Irradiation'"
        [buttons]="buttons"
    ></biopro-process-header>

    <div class="flex w-full flex-col gap-4 p-4">
        <div class="w-full flex flex-row gap-4">
            <fuse-card
                [formGroup]="form"
                class="w-full flex flex-row gap-4 justify-center p-4"
            >
                <biopro-input
                    [inputWidth]="'w-90'"
                    id="irradiationId"
                    label="Irradiation Id"
                    [inputFocus]="true"
                    [inputId]="'irradiationIdInput'"
                    formControlName="irradiationId"
                    (tabOrEnterPressed)="
                        irradiation.valid && loadIrradiationId($event)
                    "
                    required
                    [customErrors]="{ required: 'Irradiation is required.' }"
                ></biopro-input>
                <biopro-input
                    [inputWidth]="'w-90'"
                    id="lotNumber"
                    label="Lot Number"
                    [inputId]="'lotNumberInput'"
                    formControlName="lotNumber"
                    required
                    (tabOrEnterPressed)="validateLotNumber($event)"
                    [customErrors]="{ required: 'Lot number is required.' }"
                ></biopro-input>
                <div class="mt-1 w-90">
                    <biopro-scan-unit-number-check-digit
                        #unitnumber
                        (validate)="validateUnit($event)"
                        [showCheckDigit]="true"
                    >
                    </biopro-scan-unit-number-check-digit>
                </div>
            </fuse-card>
            <fuse-card class="w-full p-4 flex flex-row items-center justify-center">
                <strong>Time Removed From Storage:&nbsp;</strong>
                <span>01/01/2025 23:59</span>
            </fuse-card>
        </div>

        <fuse-card
            class="mb-4 flex flex-col px-8 pb-4"
            id="centrifugation-container"
        >
            <div class="flex flex-row justify-between">
                <div class="flex items-center text-lg font-bold">
                    <span>
                        Added Units (
                        <span id="numberOfUnitAdded">{{ numberOfUnits }}</span>
                        /
                        <span id="maxNumberOfUnits">{{ numOfMaxUnits }}</span> )
                        @if (selectedProducts.length > 0) {
                            <span class="text-lg text-gray-400"
                            >{{ selectedProducts.length }} selected</span
                            >
                        }
                    </span>
                </div>

                <div class="flex flex-row gap-5 p-2">
                    <biopro-action-button
                        id="selectAllBtn"
                        btnId="selectAllActionBtn"
                        [label]="
                            selectAllTextRule ? 'Select All' : 'Unselect All'
                        "
                        color="secondary"
                        [disabled]="numberOfUnits === 0"
                        (clickEvent)="selectAllUnits()"
                    ></biopro-action-button>
                    <biopro-action-button
                        id="removeBtn"
                        btnId="removeActionBtn"
                        label="Remove"
                        color="secondary"
                        [disabled]="numberOfSelectedUnits === 0"
                        (clickEvent)="openRemoveConfirmationDialog()"
                    ></biopro-action-button>
                </div>
            </div>

            <mat-divider></mat-divider>

            <div class="-mx-3 mt-3">
                <div id="optionButtons" class="grid-container">
                    @if (products.length === 0) {
                        <p>
                            Enter irradiation ID then scan or enter unit numbers
                        </p>
                    } @else {
                        @for (option of products; track $index) {
                            <biopro-unit-number-card
                                class="grid-item m-2"
                                [ngStyle]="{
                                    'grid-row-start': ($index % 2) + 1,
                                }"
                                [id]="'unit-' + $index"
                                [unitNumber]="option.unitNumber"
                                [productName]="option.productDescription"
                                [statuses]="option.statuses"
                                [active]="selectedProducts.includes(option)"
                                [iconName]="option.icon"
                                (clickEvent)="toggleProduct(option)"
                            ></biopro-unit-number-card>
                        }
                    }
                </div>
            </div>
        </fuse-card>
    </div>
</div>
