
.mdc-linear-progress__buffer {
    background-color:#e4e4e4;
}
  
 .inProgress .mdc-linear-progress__bar-inner {
    border-color: #facc15 !important;
}

.complete .mdc-linear-progress__bar-inner {
    border-color: #16a34a !important;
}
