<div
    id="filterableDropDownListWrapper"
    class="flex min-h-120 min-w-140 flex-col"
>
    <!-- Header Section -->
    <div class="p-2 flex items-center justify-between">
        <h2 id="'filterableListModalTitle'" mat-dialog-title class="m-0">
            {{ dialogTitle }}
        </h2>
        @if(closable){
            <button
                id="closeModalBtn"
                class="fuse-message-dismiss-button"
                mat-dialog-close
            >
                <mat-icon [svgIcon]="'hi_outline:x'"></mat-icon>
            </button>
         }
    </div>

    <div mat-dialog-content class="flex flex-1 flex-col border-t px-0">
        <!-- Input for search Criteria Section -->
        <form [formGroup]="filterForm">
            <div class="flex flex-col px-4">
                <rsa-input-keyboard
                    id="filterableListInputKeyboard"
                    [inputId]="'filterInput'"
                    class="w-full"
                    [placeholder]="inputPlaceholder"
                    [formControlName]="'filterCriteria'"
                    [iconName]="iconName"
                    (optionSelected)="selectValue($event)"
                    [options]="options"
                    [optionsLabel]="optionsLabel"
                    [showKeyboard]="showKeyboard"
                ></rsa-input-keyboard>
            </div>
        </form>

        <!-- Filtered List Section -->
        <div [ngClass]="filterableContainerClasses">
            <div
                class="scrollable-content"
                fuseScrollbar
                #fuseScrollbar="fuseScrollbar"
                [fuseScrollbarOptions]="{
                    wheelPropagation: false,
                    suppressScrollX: true,
                }"
            >
                <mat-selection-list
                    [id]="'filteredList'"
                    [multiple]="false"
                    class="border-t p-0"
                >
                    <mat-list-option
                        *ngFor="let item of filteredList"
                        (click)="selectValue(item)"
                    >
                        <span class="pl-4 text-2xl">{{ (optionsLabel ? item[optionsLabel] : item) | uppercase}}
                        </span>
                        <mat-divider></mat-divider>
                    </mat-list-option>
                </mat-selection-list>
            </div>
        </div>
    </div>
</div>
