<div class="report">
  <h1 class="border-b border-black text-center">Pick List</h1>
  <table id="pickListTable" class="table-fixed w-full">
    <thead>
    <tr class="bg-gray-200">
      <th>Shipment ID</th>
      <th>Customer ID</th>
      <th>Customer Name</th>
    </tr>
    </thead>

    <tbody>
    <tr>
      <td class="text-center">999999</td>
      <td class="text-center">999999</td>
      <td class="text-center">Tampa</td>
    </tr>
    </tbody>
  </table>

  <h3 class="border-b border-black">Product Details</h3>
  <table id="productDetailsTable" class="table-fixed w-full">
    <thead>
    <tr class="bg-gray-200">
      <th>Quantity Ordered</th>
      <th>Product</th>
      <th>Blood Type</th>
      <th>Comments</th>
    </tr>
    </thead>

    <tbody>
    <tr>
      <td class="text-center">10</td>
      <td class="text-center">Transfusable Plasma</td>
      <td class="text-center">AP</td>
      <td class="text-center">Lorem Ipsum</td>
    </tr>
    <tr>
      <td class="text-center">5</td>
      <td class="text-center">Transfusable Plasma</td>
      <td class="text-center">BP</td>
      <td class="text-center">Lorem Ipsum</td>
    </tr>
    <tr>
      <td class="text-center">23</td>
      <td class="text-center">Transfusable Plasma</td>
      <td class="text-center">ON</td>
      <td class="text-center">Lorem Ipsum</td>
    </tr>
    </tbody>
  </table>

  <h3 class="border-b border-black">Short Date Details</h3>
  <table id="shortDateDetailsTable" class="table-fixed w-full">
    <thead>
    <tr class="bg-gray-200">
      <th>Unit Number</th>
      <th>Product Code</th>
      <th>Blood Type</th>
    </tr>
    </thead>

    <tbody>
    <tr>
      <td class="text-center">W123456789</td>
      <td class="text-center">E123456</td>
      <td class="text-center">AP</td>
    </tr>
    <tr>
      <td class="text-center">W123456789</td>
      <td class="text-center">E123456</td>
      <td class="text-center">AP</td>
    </tr>
    <tr>
      <td class="text-center">W123456789</td>
      <td class="text-center">E123456</td>
      <td class="text-center">AN</td>
    </tr>
    <tr>
      <td class="text-center">W123456789</td>
      <td class="text-center">E123456</td>
      <td class="text-center">AP</td>
    </tr>
    <tr>
      <td class="text-center">W123456789</td>
      <td class="text-center">E123456</td>
      <td class="text-center">AN</td>
    </tr>
    </tbody>
  </table>
</div>
