<div class="flex">
    <div class="gt-xs:items-baseline flex w-full" [formGroup]="form">
        <!-- Label -->
         @if(labelTitle){
            <label
            [for]="inputId"
            class="mr-4 font-bold"
            [ngClass]="[labelWidth || '']"
            >{{ labelTitle }}</label
        >
         }

        <!-- Input Section Wrapper -->
        <div class="flex h-full flex-1 flex-col">
            <div class="flex flex-col">
                <div class="flex h-full flex-1">
                    <div
                        class="relative flex h-full flex-col"
                        [ngClass]="[inputWidth ? inputWidth : 'w-full']"
                    >
                        <!-- Input -->
                        <mat-form-field
                            class="fuse-mat-no-subscript flex-auto"
                            [class.highlight]="!!highlightField"
                            [ngClass]="[inputWidth]"
                            rsaControlErrorContainer
                        >
                        @if(inputType === inputTypeEnum.TEXTAREA){
                            <textarea
                                matInput
                                formControlName="input"
                                [id]="inputId"
                                [rows]="textareaRows"
                                [maxLength]="maxLength"
                                [placeholder]="placeholder"
                                [tabindex]="tabindex"
                                [customErrors]="customErrors"
                                [class]="{ 'input-uppercase': upperCase }"
                                (keydown.Tab)="onTabEnterPressed()"
                                (keydown.Enter)="onEnter($event)"
                                (blur)="onBlur()"
                                #inputField
                            ></textarea>
                        }

                        @if(inputType === inputTypeEnum.TEXT){
                            <input
                                matInput
                                formControlName="input"
                                rsaMaskRegex
                                [id]="inputId"
                                [placeholder]="placeholder"
                                [autocomplete]="allowAutocomplete"
                                [tabindex]="tabindex"
                                [allowedCharsRegex]="regex"
                                [class]="{ 'input-uppercase': upperCase }"
                                [customErrors]="customErrors"
                                [attr.maxLength]="maxLength ? maxLength : null"
                                (keydown.Tab)="onTabEnterPressed()"
                                (keydown.Enter)="onEnter($event)"
                                (keyup)="onKeyUp($event)"
                                (blur)="onBlur()"
                                #inputField
                            />
                        }

                            <!-- Text Area -->
                            <ng-template
                                [ngTemplateOutlet]="suffixTemplateRef"
                            ></ng-template>
                            @if(iconName){
                                <mat-icon
                                matSuffix
                                [svgIcon]="iconName"
                            ></mat-icon>
                            }
                            
                        </mat-form-field>
                    </div>
                </div>

                <!-- Characters Counter -->
                 @if(inputType === inputTypeEnum.TEXTAREA && maxLength){
                    <mat-hint
                    [ngClass]="[inputWidth ? inputWidth : 'mr-12']"
                    class="text-right"
                >
                    {{ form.controls['input'].value?.trim().length }} /
                    {{ maxLength }}
                </mat-hint>
                 }
            </div>
        </div>
    </div>
</div>
