:host {
  ::ng-deep {
    .mat-horizontal-stepper-header {
      pointer-events: none !important;
    }

    div.mat-horizontal-content-container {
      overflow: initial !important;
    }
  }
}

treo-card,
::ng-deep div.mat-horizontal-content-container {
  overflow: initial !important;
}

mat-label {
  font-weight: 500 !important;
}

.plusTemperatureBtn {
  margin-left: -4px !important;
  border-left: none !important;
  color: white !important;
}

.minusTemperatureBtn {
  border-right: none;
  color: white !important;
}
