.stepper{
    ::ng-deep {
        .mat-step-icon-selected{
            background-color: #a4a900 !important;;
            color: white;
        }
        .mat-step-icon{
            color: white;
            background-color: #1f2937;
        }
    }
}