<div class="flex flex-auto flex-col space-y-1">
    <biopro-process-header
        [subTitle]="header.subTitle | async"
        [title]="header.title | async"
        [buttons]="actionButtonsTpl"
    ></biopro-process-header>

    <div class="flex w-full flex-row space-x-8 p-4">
        <div class="flex w-9/12 flex-auto flex-col">
            @if (!isProductComplete) {
                <fuse-card class="flex flex-row items-center space-x-6 p-6">
                    <div class="flex flex-row space-x-2">
                        <span class="text-left font-bold">
                            (<span id="filledProductsCount">{{
                                filledProductsCount
                            }}</span>
                            of
                            <span id="totalProducts">{{ totalProducts }}</span
                            >)
                        </span>
                        <span class="text-left font-bold"> Filled Product</span>
                        <span class="text-left font-bold" id="percentageId">{{
                            filledProductsCount / totalProducts | percent
                        }}</span>
                    </div>
                    <div class="flex flex-auto flex-col">
                        <mat-progress-bar
                            id="shipmentProgressBarId"
                            class="h-2"
                            mode="determinate"
                            [value]="
                                (filledProductsCount / totalProducts) * 100
                            "
                        ></mat-progress-bar>
                    </div>
                </fuse-card>
            }

            <div class="mb-6 flex flex-col space-y-3">
                <div class="flex flex-col">
                    <ng-container
                        *ngTemplateOutlet="
                            addedProductTpl;
                            context: { review: true }
                        "
                    ></ng-container>
                </div>
            </div>
        </div>

        <div class="flex w-1/4 flex-auto flex-col">
            <rsa-order-widget-sidebar
                [orderInfoDescriptions]="orderInfoDescriptions"
                [shippingInfoDescriptions]="shippingInfoDescriptions"
            ></rsa-order-widget-sidebar>
        </div>
    </div>
</div>

<ng-template #actionButtonsTpl>
    <div class="flex flex-row space-x-2">
        <button
            id="backBtnId"
            class="bg-green-highlighted text-white"
            mat-flat-button
            (click)="backToSearch()"
        >
            Back
        </button>
    </div>
</ng-template>

<ng-template #addedProductTpl let-review="review">
    <div class="my-4 flex flex-row items-end justify-between">
        <div class="flex flex-row">
            <span class="mb-1 mr-4 w-60 text-left font-bold"
                >Labeling Product Category:</span
            >
            <span class="flex-auto text-left">{{
                labelingProductCategory | uppercase
            }}</span>
        </div>
        <div class="flex flex-row space-x-2">
            @if (shipmentInfo?.status === 'OPEN') {
                <button
                    id="viewPickListBtn"
                    class="bg-purple-light px-4 text-white"
                    mat-flat-button
                    (click)="viewPickList()"
                >
                    View Pick List
                </button>
            }
            @if (shipmentInfo?.status === 'COMPLETED') {
                <button
                    id="viewPackingListBtn"
                    class="action-button bg-purple-light px-4 text-white"
                    mat-flat-button
                    (click)="viewPackingList(true)"
                >
                    Print Packing List
                </button>
            }

            @if (shipmentInfo?.status === 'COMPLETED') {
                <button
                    id="viewShippingLabelBtn"
                    class="action-button bg-purple-light px-4 text-white"
                    mat-flat-button
                    (click)="viewShippingLabel(true)"
                >
                    Print Shipping Label
                </button>
            }
        </div>
    </div>

    <!--Shipment Details Table-->
    <div class="flex flex-auto flex-col space-y-1">
        <fuse-card class="flex-col pb-4">
            <!-- Header Section -->
            <div class="fuse-card-title">
                <div
                    class="flex w-full flex-row items-baseline justify-between px-5"
                >
                    <h3>Product Details</h3>
                </div>
            </div>
            <mat-divider></mat-divider>

            <div class="table-wrapper">
                <p-table
                    id="prodTableId"
                    dataKey="id"
                    styleClass="p-datatable-customers p-datatable-sm"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    sortField="productFamily.descriptionKey"
                    [customSort]="true"
                    [value]="products"
                    [rows]="10"
                    [showCurrentPageReport]="true"
                    [rowsPerPageOptions]="[10, 25, 50]"
                    [paginator]="true"
                    [loading]="loading"
                    [expandedRowKeys]="expandedRows"
                    (sortFunction)="customSort($event)"
                >
                    <ng-template pTemplate="header">
                        <tr>
                            <th class="w-12"></th>
                            <th class="w-12"></th>
                            <th
                                id="productFamilyColumn"
                                pSortableColumn="productFamily"
                            >
                                <div
                                    class="p-d-flex p-jc-between p-ai-center flex items-center"
                                >
                                    Product Family
                                    <p-sortIcon
                                        field="productFamily"
                                    ></p-sortIcon>
                                </div>
                            </th>
                            <th
                                id="bloodTypeColumn"
                                pSortableColumn="bloodType"
                            >
                                <div
                                    class="p-d-flex p-jc-between p-ai-center flex items-center"
                                >
                                    Blood Type
                                    <p-sortIcon field="bloodType"></p-sortIcon>
                                </div>
                            </th>
                            <th>
                                <div
                                    pSortableColumn="quantityFilledProducts"
                                    class="p-d-flex p-jc-between p-ai-center flex items-center"
                                >
                                    Filled
                                    <p-sortIcon
                                        field="quantityFilledProducts"
                                    ></p-sortIcon>
                                </div>
                            </th>
                            <th id="quantityColumn" pSortableColumn="quantity">
                                <div
                                    class="p-d-flex p-jc-between p-ai-center flex items-center"
                                >
                                    Quantity
                                    <p-sortIcon field="quantity"></p-sortIcon>
                                </div>
                            </th>
                            <th></th>
                        </tr>
                    </ng-template>
                    <ng-template
                        pTemplate="body"
                        let-product
                        let-expanded="expanded"
                        let-i="rowIndex"
                    >
                        <tr>
                            <td [ngStyle]="{ width: '30px' }">
                                <div class="flex-row justify-center space-x-4">
                                    @if (product?.comments) {
                                        <button
                                            id="expandRowBtn"
                                            type="button"
                                            class="p-button-text p-button-rounded p-button-plain"
                                            pButton
                                            pRipple
                                            [pRowToggler]="product"
                                            [icon]="
                                                expanded
                                                    ? 'pi pi-chevron-down'
                                                    : 'pi pi-chevron-right'
                                            "
                                        ></button>
                                    }
                                </div>
                            </td>
                            <td>
                                <mat-icon
                                    [svgIcon]="'rsa:product-plasma'"
                                    class="product-icon"
                                ></mat-icon>
                            </td>
                            <td>
                                {{ product?.productFamily | uppercase }}
                            </td>
                            <td>
                                {{ product?.bloodType | uppercase }}
                            </td>
                            <td>
                                <div
                                    class="flex flex-row items-center justify-start space-x-2"
                                >
                                    <span>{{
                                        product?.packedItems?.length || 0
                                    }}</span>
                                    <span class="w-10">
                                        <mat-progress-bar
                                            mode="determinate"
                                            [id]="'filled' + i"
                                            [value]="
                                                ((product?.packedItems
                                                    ?.length || 0) /
                                                    product?.quantity) *
                                                100
                                            "
                                        ></mat-progress-bar
                                    ></span>
                                    @if (product?.packedItems?.length) {
                                        <mat-icon
                                            class="text-custom-green"
                                            [svgIcon]="'hi_outline:clock'"
                                        ></mat-icon>
                                    }
                                </div>
                            </td>
                            <td>
                                {{ product?.quantity }}
                            </td>
                            <td>
                                @if (
                                    product?.packedItems?.length !==
                                        product?.quantity && !isProductComplete
                                ) {
                                    <div
                                        class="flex flex-row justify-center space-x-4"
                                    >
                                        <button
                                            [id]="'fillShipmentBtn' + i"
                                            mat-flat-button
                                            class="bg-custom-red"
                                            (click)="fillProducts(product)"
                                        >
                                            Fill Product
                                        </button>
                                    </div>
                                }
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="rowexpansion" let-product>
                        <tr>
                            <td [attr.colspan]="6">
                                <div class="p-4">
                                    <div class="flex flex-col space-y-2">
                                        @if (product?.comments) {
                                            <div
                                                class="flex w-full flex-row space-x-4 text-wrap"
                                            >
                                                <span
                                                    class="mb-1 mr-4 w-60 text-left font-bold"
                                                    >Comments</span
                                                >
                                                <span
                                                    class="text-overflow text-left"
                                                    >{{
                                                        product?.comments
                                                            | uppercase
                                                    }}</span
                                                >
                                            </div>
                                        }
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="footer">
                        <tr>
                            <td [attr.colspan]="8" class="p-text-right">
                                <span class="ml-6"
                                    >({{ totalProducts }}) Total
                                    Components</span
                                >
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </fuse-card>
    </div>

    <!--Packed products Table-->
    @if (packedItems?.length && !isProductComplete) {
        <div class="mt-6 flex flex-auto flex-col space-y-1">
            <fuse-card class="flex-col pb-4">
                <!-- Header Section -->
                <div class="flex flex-row items-end justify-between">
                    <div class="fuse-card-title">
                        <div
                            class="flex w-full flex-row items-baseline justify-between px-5"
                        >
                            <h3>{{ 'Packed Products' }}</h3>
                        </div>
                    </div>

                    <div class="mr-4 flex flex-row space-x-2 p-2">
                        <button
                            id="completeShipmentBtn"
                            class="action-button bg-purple-light px-4 text-white"
                            mat-flat-button
                            (click)="completeShipment()"
                        >
                            {{ 'Complete Shipment' }}
                        </button>
                    </div>
                </div>
                <mat-divider></mat-divider>

                <div class="table-wrapper">
                    <p-table
                        id="packedProdTableId"
                        dataKey="id"
                        [rows]="10"
                        [value]="packedItems"
                        [showCurrentPageReport]="true"
                        [rowsPerPageOptions]="[10, 25, 50]"
                        [loading]="loading"
                        styleClass="p-datatable-customers p-datatable-sm"
                        [paginator]="true"
                        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    >
                        <ng-template pTemplate="header">
                            <tr>
                                <th class="px-8">
                                    <div
                                        class="p-d-flex p-jc-between p-ai-center"
                                    >
                                        {{ 'Unit Number' }}
                                    </div>
                                </th>
                                <th>
                                    <div
                                        class="p-d-flex p-jc-between p-ai-center"
                                    >
                                        {{ 'Product Code' }}
                                    </div>
                                </th>
                                <th>
                                    <div
                                        class="p-d-flex p-jc-between p-ai-center"
                                    >
                                        {{ 'Description' }}
                                    </div>
                                </th>
                                <th></th>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="body" let-item let-i="rowIndex">
                            <tr>
                                <td class="px-8">
                                    {{ item?.unitNumber | uppercase }}
                                </td>
                                <td>
                                    {{ item?.productCode }}
                                </td>
                                <td>
                                    {{ item?.productDescription }}
                                </td>
                                <td></td>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="footer">
                            <tr>
                                <td [attr.colspan]="4" class="p-text-right">
                                    <span class="ml-6"
                                        >({{ packedItems?.length }}) Total
                                        Filled Products</span
                                    >
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </fuse-card>
        </div>
    }

    <!--Shipped products Table-->
    @if (shippedInfoData?.length) {
        <div class="mt-6 flex flex-auto flex-col space-y-1">
            <fuse-card class="flex-col pb-4">
                <!-- Header Section -->
                <div class="fuse-card-title">
                    <div
                        class="flex w-full flex-row items-baseline justify-between px-5"
                    >
                        <h3>Shipped Products</h3>
                    </div>
                </div>
                <mat-divider></mat-divider>

                <div class="table-wrapper">
                    <p-table
                        id="shippedProdTableId"
                        dataKey="id"
                        [value]="shippedInfoData"
                        [rows]="10"
                        [showCurrentPageReport]="true"
                        [rowsPerPageOptions]="[10, 25, 50]"
                        [loading]="loading"
                        styleClass="p-datatable-customers p-datatable-sm"
                        [paginator]="true"
                        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    >
                        <ng-template pTemplate="header">
                            <tr>
                                <th class="px-8">
                                    <div
                                        class="p-d-flex p-jc-between p-ai-center"
                                    >
                                        Quantity
                                    </div>
                                </th>
                                <th>
                                    <div
                                        class="p-d-flex p-jc-between p-ai-center"
                                    >
                                        Shipment Date and Time
                                    </div>
                                </th>
                                <th>
                                    <div
                                        class="p-d-flex p-jc-between p-ai-center"
                                    >
                                        Staff
                                    </div>
                                </th>
                                <th></th>
                            </tr>
                        </ng-template>

                        <ng-template
                            pTemplate="body"
                            let-completedInfo
                            let-expanded="expanded"
                        >
                            <tr>
                                <td class="px-8">
                                    {{ completedInfo?.quantity }}
                                </td>
                                <td>
                                    {{ completedInfo?.completeDate }}
                                </td>
                                <td>
                                    {{
                                        completedInfo?.completedByEmployee
                                            | uppercase
                                    }}
                                </td>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="footer">
                            <tr>
                                <td [attr.colspan]="4" class="p-text-right">
                                    <span class="ml-6"
                                        >({{ packedItems?.length }}) Total
                                        Components</span
                                    >
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </fuse-card>
        </div>
    }
</ng-template>
