@import 'treo';
@import 'custom-colors';

:host {
  ::ng-deep {
    .p-buttonset .p-button {
      width: 100px;
    }

    @include treo-theme {
      $primary: map-get($theme, primary);

      .p-selectbutton {
        .p-button {
          background: #f7f7ee;

          &:nth-of-type(10) {
            border-top-right-radius: 4px !important;
            border-right: 1px solid rgba(0, 0, 0, 0.12);
          }

          &:nth-of-type(11) {
            border-bottom-left-radius: 4px !important;
          }

          &:first-of-type {
            border-bottom-left-radius: 0 !important;
          }

          &:last-of-type {
            border-top-right-radius: 0 !important;
          }

          &.p-highlight {
            background: $button-highlighted;
            border-color: $button-highlighted;
            color: white;
          }
        }
      }
    }
  }
}
