<div class="flex flex-auto flex-col space-y-3">
    @if (productDetails().length) {
        <rsa-common-widget
            [title]="'Product Details'"
            [subtitle]="'General Information'"
            [templateRef]="productDetailsTpl"
        >
            <ng-template #productDetailsTpl>
                <div class="flex flex-col">
                    <rsa-description-card
                        id="productDetails"
                        [descriptions]="productDetails()"
                        [showColon]="false"
                        [embedded]="true"
                        [maxCols]="1"
                        [valueClasses]="'align-card-info'"
                        [labelClasses]="'align-card-info'"
                    ></rsa-description-card>
                    <mat-divider></mat-divider>
                    <mat-accordion id="productComments">
                        <mat-expansion-panel [disabled]="!productComments()">
                            <mat-expansion-panel-header>
                                <mat-panel-title class="font-bold">
                                    Product Comments</mat-panel-title
                                >
                            </mat-expansion-panel-header>
                            <div>{{ productComments() | uppercase }}</div>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
            </ng-template>
        </rsa-common-widget>
    }

    <rsa-common-widget
        svgIcon="hi_outline:clipboard-list"
        svgIconCls="text-orange-light"
        [title]="'Order Information'"
        [subtitle]="'General Information'"
        [templateRef]="orderInfoTpl"
    >
        <ng-template #orderInfoTpl>
            <div class="flex flex-col">
                <rsa-description-card
                    id="orderInfoDescriptions"
                    [descriptions]="order()"
                    [showColon]="false"
                    [embedded]="true"
                    [maxCols]="1"
                    [valueClasses]="'align-card-info'"
                    [labelClasses]="'align-card-info'"
                >
                    <mat-accordion id="orderInfoComment" data-role="footer">
                        <mat-expansion-panel [disabled]="!comments()">
                            <mat-expansion-panel-header>
                                <mat-panel-title class="font-bold"
                                    >Comments</mat-panel-title
                                >
                            </mat-expansion-panel-header>
                            <div>{{ comments() | uppercase }}</div>
                        </mat-expansion-panel>
                    </mat-accordion>
                </rsa-description-card>
            </div>
        </ng-template>
    </rsa-common-widget>

    @if (orderCancellation()?.length) {
        <rsa-common-widget
            svgIcon="hi_outline:archive-box-x-mark"
            svgIconCls="text-orange-light"
            [title]="'Cancelation Information'"
            [subtitle]="'General Information'"
            [templateRef]="orderCancelationInfoTpl"
        >
            <ng-template #orderCancelationInfoTpl>
                <div class="flex flex-col gap-4">
                    <rsa-description-card
                        id="orderCancelInfoDescriptions"
                        [descriptions]="orderCancellation()"
                        [showColon]="false"
                        [embedded]="true"
                        [maxCols]="1"
                        [valueClasses]="'align-card-info'"
                        [labelClasses]="'align-card-info'"
                    >
                        <mat-accordion
                            id="orderCancelInfoReason"
                            data-role="footer"
                        >
                            <mat-expansion-panel
                                [disabled]="!orderCancellationReason()"
                            >
                                <mat-expansion-panel-header>
                                    <mat-panel-title class="font-bold"
                                        >Canceled Reason</mat-panel-title
                                    >
                                </mat-expansion-panel-header>
                                <div>
                                    {{ orderCancellationReason() | uppercase }}
                                </div>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </rsa-description-card>
                </div>
            </ng-template>
        </rsa-common-widget>
    }
    @if (orderInput()?.displayModificationDetails) {
        <rsa-common-widget
            id="modificationOrderId"
            svgIcon="hi_outline:archive-box-x-mark"
            svgIconCls="text-orange-light"
            [title]="'Modification Information'"
            [subtitle]="'General Information'"
            [templateRef]="orderModificationInfoTpl"
        >
            <ng-template #orderModificationInfoTpl>
                <div class="flex flex-col gap-4">
                    <rsa-description-card
                        id="orderModificationInfoDescriptions"
                        [descriptions]="orderModification()"
                        [showColon]="false"
                        [embedded]="true"
                        [maxCols]="1"
                        [valueClasses]="'align-card-info'"
                        [labelClasses]="'align-card-info'"
                    >
                        <mat-accordion
                            id="orderModificationReason"
                            data-role="footer"
                        >
                            <mat-expansion-panel
                                [disabled]="!orderModificationReason()"
                            >
                                <mat-expansion-panel-header>
                                    <mat-panel-title class="font-bold"
                                        >Modification Reason</mat-panel-title
                                    >
                                </mat-expansion-panel-header>
                                <div>
                                    {{ orderModificationReason() | uppercase }}
                                </div>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </rsa-description-card>
                </div>
            </ng-template>
        </rsa-common-widget>
    }

    @if (shipping()?.length) {
        <rsa-common-widget
            svgIcon="remove_shopping_cart"
            svgIconCls="text-custom-red"
            [title]="'Shipping Information'"
            [subtitle]="'General Information'"
            [templateRef]="shipInfoTpl"
        >
            <ng-template #shipInfoTpl>
                <div class="flex flex-col">
                    <rsa-description-card
                        id="shippingInfoDescriptions"
                        [descriptions]="shipping()"
                        [showColon]="false"
                        [embedded]="true"
                        [maxCols]="1"
                        [valueClasses]="'align-card-info'"
                        [labelClasses]="'align-card-info'"
                    ></rsa-description-card>
                </div>
            </ng-template>
        </rsa-common-widget>
    }

    @if (billing()?.length) {
        <rsa-common-widget
            svgIcon="credit_card"
            svgIconCls="text-purple-light"
            [title]="'Billing Information'"
            [subtitle]="'General Information'"
            [templateRef]="billInfoTpl"
        >
            <ng-template #billInfoTpl>
                <div class="flex flex-col">
                    <rsa-description-card
                        id="billInfoDescriptions"
                        [descriptions]="billing()"
                        [showColon]="false"
                        [embedded]="true"
                        [maxCols]="1"
                        [valueClasses]="'align-card-info'"
                        [labelClasses]="'align-card-info'"
                    ></rsa-description-card>
                </div>
            </ng-template>
        </rsa-common-widget>
    }
</div>
