<ng-container>
    <h1 mat-dialog-title class="p-4 pb-0 text-3xl">Close Shipment</h1>
    <div class="p-4">
        <div class="text-secondary mb-4">
            <span>The shipment will be closed. Are you sure you want to continue?</span>
        </div>

        <form [formGroup]="closeShipmentForm">
            <div class="flex flex-col space-y-4">
                    <mat-form-field>
                        <mat-label>Shipment Date</mat-label>
                        <input
                            id="shipmentDateId"
                            matInput
                            formControlName="shipmentDate"
                            placeholder="Enter Shipment Date"
                            [min]="minDate"
                            autocomplete="off"
                            [matDatepicker]="shipmentDatePicker"
                        />
                        <mat-datepicker-toggle
                            matIconSuffix
                            [for]="shipmentDatePicker"
                        ></mat-datepicker-toggle>
                        <mat-datepicker
                            #shipmentDatePicker
                        ></mat-datepicker>
                        @if (
                            closeShipmentForm
                                .get('shipmentDate')
                                .hasError('matDatepickerMin')
                        ) {
                            <mat-error
                                >Shipment Date cannot be in the
                                past</mat-error
                            >
                        } @else if (
                            closeShipmentForm
                                .get('shipmentDate')
                                .hasError('matDatepickerParse')
                        ) {
                            <mat-error
                                >Shipment Date is invalid</mat-error
                            >
                        } @else if (
                            closeShipmentForm
                                .get('shipmentDate')
                                .hasError('required')
                        ) {
                            <mat-error
                                >Shipment Date is required</mat-error
                            >
                        }
                    </mat-form-field>
            </div>
        </form>
    </div>

    <mat-dialog-actions align="end" class="flex items-center justify-center space-x-3 bg-gray-50 px-6 py-4 dark:bg-black dark:bg-opacity-10 sm:justify-end">
        <biopro-basic-button
            id="btnCancel"
            label="Cancel"
            (buttonClicked)="dialogRef.close()"
            color="secondary"
        ></biopro-basic-button>
        
        <biopro-basic-button
            id="btnContinue"
            [disabled]="!closeShipmentForm.valid"
            class="bg-green text-white"
            color="primary"
            label="Continue"
            (buttonClicked)="onClickContinue()"
        ></biopro-basic-button>
    </mat-dialog-actions>
</ng-container>



