@use 'user-themes' as userThemes;
@use 'themes' as themes;

$theme: map-get(userThemes.$user-themes, default);
$primary: map-get($theme, primary);
$foreground: map-get(themes.$light-base, foreground);
$background: map-get(themes.$light-base, background);
$warn: map-get($theme, warn);
$gray: map-get($theme, gray);

classic-layout {
    position: relative;
    display: flex;
    flex: 1 1 auto;
    width: 100%;

    > fuse-vertical-navigation {
        background: map-get($background, card);

        .fuse-vertical-navigation-header {
            .logo {
                display: flex;
                align-items: center;
                height: 65px;
                min-height: 65px;
                max-height: 65px;
                padding: 0 24px;
                border-bottom-width: 1px;

                img {
                    max-width: 96px;
                }
            }
        }
    }

    > .wrapper {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        width: 100%;

        h1 {
            color: rgba(86, 92, 102, 1);
        }

        > .header {
            position: relative;
            display: flex;
            flex: 1 1 auto;
            align-items: center;
            width: 100%;
            height: 64px;
            max-height: 64px;
            min-height: 64px;
            padding: 0 24px;
            z-index: 49;
            background: map-get($background, card);
            border-bottom: 1px solid;
            border-bottom-color: #A4A900;
            box-shadow: 0 1px 0 0 map-get($foreground, divider);

            .navigation-toggle-button {
                margin-right: 8px;
            }

            .spacer {
                display: flex;
                flex: 1 1 auto;
                height: 1px;
            }
        }

        > .content {
            display: flex;
            flex-direction: column;
            flex: 1 1 auto;

            > *:not(router-outlet) {
                position: relative;
                display: flex;
                flex: 1 1 auto;
            }
        }

        > .footer {
            background: map-get($background, card);
            box-shadow: 0 -1px 0 0 map-get($foreground, divider);
            color: map-get($foreground, secondary-text);
            display: flex;
            flex: 1 1 auto;
            align-items: center;
            width: 100%;
            height: 56px;
            max-height: 56px;
            min-height: 56px;
            padding: 0 24px;
            z-index: 49;
        }
    }

    #footer-date-time {
        width: 200px;
    }
}
