<rsa-common-modal-template
  [title]="'close-order-reason.label' | translate"
  [cancelTitle]="'cancel.label'"
  [acceptTitle]="'submit.label'"
  (acceptSelection)="closeOrder()"
  [isValid]="closeOrderGroup.valid"
>
  <div class="flex">
    <div class="w-full p-4">
      <form id="closeOrderForm" [formGroup]="closeOrderGroup" class="text-left w-full">
        <div class="flex flex-col space-y-3">
          <div clas="flex flex-col">
            {{ 'close-order-modal-details.label' | translate }}
          </div>
          <div class="flex flex-col space-y-2 mb-2">
            <mat-label class="font-bold">{{ 'reason.label' | translate }}</mat-label>
            <mat-form-field appearance="fill" class="block w-full" rsaControlErrorContainer>
              <mat-select
                id="closeOrderReasonSelId"
                formControlName="reason"
                validateOn="touchedState"
                [customErrors]="{
                  required: 'reason.label' | validation: validationType.REQUIRED
                }"
                [placeholder]="'select-an-option.label' | translate"
              >
                <mat-option *ngFor="let reason of closeOrderReasons" [value]="reason.id">{{
                  reason.descriptionKey | translate
                }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </form>
    </div>
  </div>
</rsa-common-modal-template>
