<fuse-card
    class="flex-col"
    [style.border-color]="color"
    [ngClass]="{ 'border-l-4': hasBorder }"
>
    <!-- Header Section -->
    <div class="fuse-card-title px-4 py-2">
        <div class="flex items-center justify-between">
            <div class="flex flex-row items-end justify-center space-x-2">
                @if (svgIcon) {
                    <mat-icon
                        class="h-8 w-8"
                        [ngClass]="svgIconCls"
                        [svgIcon]="svgIcon"
                    ></mat-icon>
                }
                <div class="mt-1 flex flex-col">
                    <div class="text-md font-bold">{{ title }}</div>
                    <div
                        class="text-sm uppercase text-gray-400"
                        [style.color]="color + '!important'"
                    >
                        {{ subtitle }}
                    </div>
                </div>
            </div>
            @if (hasMenu) {
                <mat-icon
                    [matMenuTriggerFor]="matResultsMenu"
                    [svgIcon]="'hi_outline:dots-vertical'"
                    class="cursor-pointer"
                ></mat-icon>
            }

            @if (!hasMenu && buttonMenu) {
                <button
                    class="h-10 min-h-10 bg-gray-100 px-3"
                    mat-button
                    [matMenuTriggerFor]="matResultsMenu"
                >
                    <span class="text-sm font-medium text-gray-500">{{
                        buttonMenu
                    }}</span>
                </button>
            }
        </div>
        <mat-menu #matResultsMenu="matMenu">
            <button
                mat-menu-item
                *ngFor="let menu of menus"
                (click)="onMenuClick(menu)"
            >
                @if (menu.icon) {
                    <mat-icon [svgIcon]="menu.icon"></mat-icon>
                }
                <span>Menu</span>
            </button>
        </mat-menu>
    </div>
    <!-- Content Section -->
    <div class="px-4 pb-4">
        <!-- using ng-template with ngTemplateOutlet instead of ng-content -->
        <ng-template [ngTemplateOutlet]="templateRef"></ng-template>
    </div>
</fuse-card>
