<div class="flex flex-auto flex-col space-y-1">
    <biopro-process-header
        [subTitle]="header.subTitle | async"
        [title]="header.title | async"
        [buttons]="actionButtonsTpl"
    ></biopro-process-header>

    <biopro-recovered-plasma-shipment-details-navbar
        [links]="{ Cartons: cartonsRoute }"
        [activeLinkRoute]="cartonsRoute"
        style="margin-top: 1px !important"
    >
    </biopro-recovered-plasma-shipment-details-navbar>

    <ng-template #actionButtonsTpl>
        <div class="flex flex-row space-x-2">
            <biopro-action-button
                id="backActionBtn"
                btnId="backToSearchBtnId"
                label="Back to Search"
                color="secondary"
                icon="heroicons_outline:arrow-uturn-left"
                (clickEvent)="backToSearch()"
            />

            @if(shipmentDetailsSignal()?.canClose) {
            <biopro-action-button
                id="completeId"
                btnId="closeShipmentBtnId"
                label="Close Shipment"
                color="primary"
                icon="check_circle_outline"
                (clickEvent)="onClickCloseShipment()"
            />
            }
            @if (shipmentDetailsSignal()?.status === 'CLOSED') {
            <biopro-action-button
                id="reportsDialogActionBtn"
                btnId="reportsDialogBtnId"
                label="Reports"
                color="primary"
                icon="heroicons_outline:document-arrow-down"
                (clickEvent)="openReportsDialog()"
            />
            }
        </div>
    </ng-template>

    <div class="flex w-full flex-row gap-4 p-4">
        <div class="flex w-9/12 flex-col gap-4">
            @if(messageSignal() && messageTypeSignal()){
                <biopro-global-message
                    [messageType]="messageTypeSignal()"
                    [message]="messageSignal()"
                    [appearance]="'border'"
                >
                </biopro-global-message>
            }
            @if (shipmentDetailsSignal()?.canAddCartons) {
                <div class="col flex justify-end">
                    <biopro-basic-button
                        id="btnAddCarton"
                        [disabled]="!shipmentDetailsSignal()?.canModify"
                        color="primary"
                        label="Add Carton"
                        class="mat-primary-action"
                        (buttonClicked)="addCarton()"
                    />
                </div>
            }
            <biopro-table
                #recoveredPlasmaCartonsTable
                tableId="cartonListTableId"
                [dataSource]="cartonsComputed()"
                [configuration]="cartonTableConfigComputed()"
                [totalElements]="cartonsComputed().length ?? 0"
                [pageIndex]="0"
                [serverPagination]="false"
                [expandTemplateRef]="expandTemplateRef"
                (expandingOneOrMoreRows)="loadCartonPackedProduct($event)"
            >
            </biopro-table>
            <ng-template #statusTemplateRef let-element="element">
                <span [class]="RecoveredPlasmaCartonStatusCssMap[element.status]">
                    {{ RecoveredPlasmaCartonStatusMap[element.status] }}
                </span>
            </ng-template>
            <ng-template #actionsTemplateRef let-element="element">
                <!--Edit Carton Button-->
                @if (element?.status === 'OPEN') {
                    <button id="editBtn" (click)="editCarton(element?.id)" class="button-mat-icon">
                        <mat-icon
                            [svgIcon]="'heroicons_outline:edit_square'"
                        ></mat-icon>
                    </button>
                }
                <!--Repack Carton Button-->
                @if (element?.status === 'REPACK') {
                    <biopro-basic-button
                        id="repackCartonBtn"
                        color="primary"
                        class="text-primary"
                        label="Repack"
                        (buttonClicked)="repackCarton(element?.id)"
                    />
                }
                <!--Print carton packing slip Button-->
                @if (element?.canPrint) {
                    <button data-testid="view-shipping-carton-packing-slip" (click)="printCarton($event, element?.id)" class="button-mat-icon">
                        <mat-icon>print</mat-icon>
                    </button>
                }
                <!--Remove carton Button-->
                <!-- @if (element?.canPrint) { -->
                    <button data-testid="remove-carton" (click)="removeCarton($event, element?.id)" class="button-remove-mat-icon">
                        <mat-icon
                        [svgIcon]="'heroicons_outline:delete'"
                    ></mat-icon>
                    </button>
                <!-- } -->
            </ng-template>

            <!--Expand row for added products-->
            <ng-template #expandTemplateRef let-element="element">
                <div class="w-full">
                    <div class="w-full p-2">
                        <div class="flex items-center p-2 text-xl font-bold">
                            <span>
                                Unit Numbers (
                                @if (expandedRowDataSignal()?.length >= 0) {
                                    <span [id]="'prodQtyId_' + element.id">
                                        {{ expandedRowDataSignal().length }}
                                    </span>
                                }
                                )
                            </span>
                        </div>
                        <div class="grid grid-cols-5 gap-4 p-2">
                            @for (
                                product of expandedRowDataSignal();
                                track product.unitNumber
                            ) {
                                <div class="text-lg">
                                    {{ product.unitNumber }}
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </ng-template>
        </div>


        <div class="flex w-3/12 flex-col gap-4">
            @if (shipmentDetailsSignal()?.status === 'PROCESSING' || shipmentDetailsSignal()?.lastUnsuitableReportRunDate) {
            <biopro-unacceptable-products-report-widget
                [loading]="shipmentDetailsSignal()?.status === 'PROCESSING'"
                [shipment]="shipmentDetailsSignal()"
                [employeeId]="employeeIdSignal()"
                [locationCode]="locationCodeComputed()"
            />
            }
            <biopro-shipping-information-card
                [isButtonDisabled]="true"
                [showBasicButton]="true"
                [shippingInput]="shipmentDetailsSignal()"
            />
        </div>
    </div>
</div>
