<div class="flex flex-auto flex-col space-y-1">
    <biopro-process-header
        [subTitle]="header.subTitle | async"
        [title]="header.title | async"
        [buttons]="actionButtonsTpl"
    ></biopro-process-header>

    <biopro-recovered-plasma-shipment-details-navbar
        [links]="{
            Cartons: cartonsRouteComputed(),
        }"
        [activeLinkRoute]="cartonsRouteComputed()"
        style="margin-top: 1px !important"
    >
    </biopro-recovered-plasma-shipment-details-navbar>

    <ng-template #actionButtonsTpl>
        <div class="flex flex-row space-x-2">
            <biopro-action-button
                id="backActionBtn"
                btnId="backToSearchBtn"
                label="Back to Search"
                color="secondary"
                icon="heroicons_outline:arrow-uturn-left"
                (clickEvent)="backToSearch()"
            />
        </div>
    </ng-template>

    <div class="flex w-full flex-row space-x-8 p-4">
        <div class="flex w-9/12 flex-auto flex-col space-y-3">
            <div class="col flex justify-end">
                <biopro-basic-button
                    id="btnAddCarton"
                    label="Add Carton"
                    class="mat-primary-flat text-primary-900"
                ></biopro-basic-button>
            </div>
        </div>
        <biopro-shipping-information-card
            [showBasicButton]="true"
            [shippingInput]="{
                shipmentNumber: findShipmentById?.shipmentNumber,
                customerCode: findShipmentById?.customerCode,
                customerName: findShipmentById?.customerName,
                status: findShipmentById?.status,
                productType: findShipmentById?.productType,
                shipmentDate: findShipmentById?.shipmentDate,
                totalCartons: findShipmentById?.totalCartons,
                totalProducts: findShipmentById?.totalProducts,
                totalVolume: findShipmentById?.totalVolume,
                transportationReferenceNumber:
                    findShipmentById?.transportationReferenceNumber,
            }"
        />
    </div>
</div>
