<div class="flex flex-col flex-auto space-y-3">
  <rsa-common-widget
    svgIcon="hi_outline:clipboard-list"
    svgIconCls="text-orange-light"
    [title]="'order-information.label' | translate"
    [subtitle]="'general-information.label' | translate"
    [templateRef]="orderInfoTpl"
  >
    <ng-template #orderInfoTpl>
      <div class="flex flex-col">
        <rsa-description-card
          id="orderInfoDescriptions"
          [descriptions]="orderInfoDescriptions"
          [showColon]="true"
          [embedded]="true"
          [maxCols]="1"
          [valueClasses]="'align-card-info'"
          [labelClasses]="'align-card-info'"
        ></rsa-description-card>
        <mat-accordion>
          <mat-expansion-panel [disabled]="!order?.comments && !comments">
            <mat-expansion-panel-header>
              <mat-panel-title class="font-bold"> {{ 'comments.label' | translate }}:</mat-panel-title>
            </mat-expansion-panel-header>
            <div>{{ order?.comments || comments | uppercase }}</div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </ng-template>
  </rsa-common-widget>
  <rsa-common-widget
    svgIcon="remove_shopping_cart"
    svgIconCls="text-custom-red"
    [title]="'shipping-information.label' | translate"
    [subtitle]="'general-information.label' | translate"
    [templateRef]="shipInfoTpl"
    *ngIf="shippingInfoDescriptions?.length"
  >
    <ng-template #shipInfoTpl>
      <div class="flex flex-col">
        <rsa-description-card
          id="shippingInfoDescriptions"
          [descriptions]="shippingInfoDescriptions"
          [showColon]="true"
          [embedded]="true"
          [maxCols]="1"
          [valueClasses]="'align-card-info'"
          [labelClasses]="'align-card-info'"
        ></rsa-description-card>
      </div>
    </ng-template>
  </rsa-common-widget>
  <rsa-common-widget
    svgIcon="credit_card"
    svgIconCls="text-purple-light"
    [title]="'bill-information.label' | translate"
    [subtitle]="'general-information.label' | translate"
    [templateRef]="billInfoTpl"
    *ngIf="billInfoDescriptions?.length"
  >
    <ng-template #billInfoTpl>
      <div class="flex flex-col">
        <rsa-description-card
          [descriptions]="billInfoDescriptions"
          [showColon]="true"
          [embedded]="true"
          [maxCols]="1"
          [valueClasses]="'align-card-info'"
          [labelClasses]="'align-card-info'"
        ></rsa-description-card>
      </div>
    </ng-template>
  </rsa-common-widget>
  <rsa-common-widget
    svgIcon="hi_outline:thumb-up"
    svgIconCls="text-purple-light"
    [title]="'service-fees.label' | translate"
    [subtitle]="'general-information.label' | translate"
    [templateRef]="feesInfoTpl"
    *ngIf="feesInfoDescriptions?.length"
  >
    <ng-template #feesInfoTpl>
      <div class="flex flex-col">
        <rsa-description-card
          [descriptions]="feesInfoDescriptions"
          [showColon]="true"
          [embedded]="true"
          [maxCols]="1"
          [valueClasses]="'align-card-info'"
          [labelClasses]="'align-card-info'"
        ></rsa-description-card>
      </div>
    </ng-template>
  </rsa-common-widget>
</div>
