biopro-options-picker {
    .mat-mdc-fab {
        max-height: 100% !important;
        border: none !important;
        height: 100% !important;

        &.mdc-fab--extended {
            &[disabled='true'] {
                &.mat-primary {
                    background-color: theme('colors.primary') !important;
                    color: #e0e0e0 !important;
                }
            }
        }
    }
}
