<div class="flex flex-auto flex-col">
    <biopro-process-header
        [subTitle]="processHeaderService.subTitle | async"
        [title]="processHeaderService.title | async"
        [buttons]="actionButtonsTpl"
    />

    <ng-template #actionButtonsTpl>
        <div class="flex flex-row gap-2">
            <biopro-action-button
                id="importsEnterShipmentInformationCancelAction"
                btnId="importsEnterShipmentInformationCancelActionButton"
                label="Cancel"
                color="secondary"
                icon="heroicons_outline:x-circle"
                (clickEvent)="cancel()"
            />
            <biopro-action-button
                id="importsEnterShipmentInformationContinueAction"
                btnId="importsEnterShipmentInformationContinueActionButton"
                label="Continue"
                color="primary"
                icon="heroicons_outline:arrow-right-circle"
                [disabled]="!form.valid"
            />
        </div>
    </ng-template>

    @if (productCategoryLookupsSignal()?.length) {
    <div class="flex flex-col md:flex-row gap-4 md:gap-6 p-4 md:p-6 items-start min-h-[calc(100vh-240px)]">
        <!-- SELECT TEMPERATURE PRODUCT CATEGORY -->
        <fuse-card class="flex flex-col w-full md:w-3/12">
            <div class="border-b text-lg font-bold p-4">Temperature Product Category</div>
            <div class="flex flex-col p-4 md:p-8 gap-4 md:gap-8 justify-center">
                @for (productCategoryLookup of productCategoryLookupsSignal(); track $index) {
                    <button type="button"
                            mat-fab
                            class="flex flex-row flex-1 justify-start gap-2 m-0 px-4 py-8 overflow-hidden"
                            [attr.data-testid]="'select-temperature-category-' + productCategoryLookup.optionValue"
                            [class.selected]="form.controls.productCategory?.value === productCategoryLookup.optionValue"
                            [extended]="true"
                            (click)="selectCategoryFromLookup(productCategoryLookup)"
                    >
                        <mat-icon [svgIcon]="TemperatureProductCategoryIconMap[productCategoryLookup.optionValue]" class="!min-w-[48px] !w-[48px] !min-h-[48px] !h-[48px]" />
                        <span class="whitespace-nowrap">{{ productCategoryLookup.descriptionKey }}</span>
                    </button>
                }
            </div>
        </fuse-card>


        <!-- PACKING INFORMATION AND CONDITIONS -->
        <fuse-card class="flex flex-col w-full md:w-9/12 h-full">
            <div class="border-b text-lg font-bold p-4">Packing Information</div>
            @if (!form.controls.productCategory?.value || !shippingInformationSignal()) {
            <span data-testid="no-category-selected-message" class="flex flex-col items-center justify-center w-full h-full text-secondary">Select Temperature Category</span>
            } @else {
            <div class="grid grid-cols-1 md:grid-cols-6 gap-4 p-4 md:p-8">
                @if(temperatureQuarantineNotificationSignal(); as temperatureQuarantineNotification){
                <div class="md:col-span-6">
                    <biopro-global-message
                        [messageType]="NotificationTypeMap[temperatureQuarantineNotification.type].type"
                        [message]="temperatureQuarantineNotification.message"
                        [appearance]="'border'"
                    />
                </div>
                }

                @if (shippingInformationSignal()?.displayTransitInformation) {
                <!-- START TRANSIT TIME -->
                <mat-form-field class="md:col-span-2" [formGroup]="form.controls.transitTime">
                    <mat-label>Transit Start Date</mat-label>
                    <input data-testid="transit-time-start-date"
                           formControlName="startDate"
                           [matDatepicker]="transitTimeStartDatePicker"
                           [max]="now"
                           matInput
                           required
                    />
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="transitTimeStartDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #transitTimeStartDatePicker></mat-datepicker>
                    @if (form.controls.transitTime.controls.startDate.hasError('required')) { <mat-error>Transit Start Date is required</mat-error> }
                </mat-form-field>
                <mat-form-field class="md:col-span-2" [formGroup]="form.controls.transitTime">
                    <mat-label>Transit Start Time</mat-label>
                    <input data-testid="transit-time-start-time"
                           type="time"
                           formControlName="startTime"
                           matInput
                           required
                    />
                    <mat-icon matIconSuffix>schedule</mat-icon>
                    <mat-hint>HH:MM</mat-hint>
                    @if (form.controls.transitTime.controls.startTime.hasError('required')) { <mat-error>Transit Start Time is required</mat-error> }
                </mat-form-field>
                <mat-form-field class="md:col-span-2" [formGroup]="form.controls.transitTime">
                    <mat-label>Start Time Zone</mat-label>
                    <mat-select [attr.data-testid]="'transit-time-start-zone'" formControlName="startZone" required>
                        @for (timeZone of availableTimeZonesSignal(); track $index) {
                            <mat-option [value]="timeZone">{{timeZone}}</mat-option>
                        }
                    </mat-select>
                    @if (form.controls.transitTime.controls.startZone.hasError('required')) { <mat-error>Start Time Zone is required</mat-error> }
                </mat-form-field>


                <!-- END TRANSIT TIME -->
                <mat-form-field class="md:col-span-2" [formGroup]="form.controls.transitTime">
                    <mat-label>Transit End Date</mat-label>
                    <input data-testid="transit-time-end-date"
                           formControlName="endDate"
                           [matDatepicker]="transitTimeEndDatePicker"
                           [min]="form.controls.transitTime.controls?.startDate?.value || now"
                           matInput
                           required
                    />
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="transitTimeEndDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #transitTimeEndDatePicker></mat-datepicker>
                    @if (form.controls.transitTime.controls.endDate.hasError('required')) { <mat-error>Transit End Date is required</mat-error> }
                </mat-form-field>
                <mat-form-field class="md:col-span-2" [formGroup]="form.controls.transitTime">
                    <mat-label>Transit End Time</mat-label>
                    <input data-testid="transit-time-end-time"
                           type="time"
                           formControlName="endTime"
                           matInput
                           required
                    />
                    <mat-icon matIconSuffix>schedule</mat-icon>
                    <mat-hint>HH:MM</mat-hint>
                    @if (form.controls.transitTime.controls.endTime.hasError('required')) { <mat-error>Transit End Time is required</mat-error> }
                </mat-form-field>
                <mat-form-field class="md:col-span-2" [formGroup]="form.controls.transitTime">
                    <mat-label>End Time Zone</mat-label>
                    <mat-select [attr.data-testid]="'transit-time-end-zone'" formControlName="endZone" required>
                        @for (timeZone of availableTimeZonesSignal(); track $index) {
                            <mat-option [value]="timeZone">{{timeZone}}</mat-option>
                        }
                    </mat-select>
                    @if (form.controls.transitTime.controls.endZone.hasError('required')) { <mat-error>End Time Zone is required</mat-error> }
                </mat-form-field>


                <!-- Total Transit Time -->
                @if (
                        form.controls.transitTime.controls.startDate?.value && form.controls.transitTime.controls.endDate?.value &&
                        form.controls.transitTime.controls.startTime?.value && form.controls.transitTime.controls.endTime?.value &&
                        form.controls.transitTime.controls.startZone?.value && form.controls.transitTime.controls.endZone?.value
                ) {
                <div class="md:col-span-6 rounded-md bg-blue-100 p-6 text-center mb-2">
                    <b>Total Transit Time:</b> <a id="total-transit-time-value"> 00h 00m </a>
                </div>
                }
                }


                @if (shippingInformationSignal()?.displayTemperature) {
                <mat-form-field class="md:col-span-3" [formGroup]="form.controls.temperature">
                    <mat-label>Thermometer ID</mat-label>
                    <input #thermometerId
                           data-testid="thermometer-id"
                           type="text"
                           formControlName="thermometerId"
                           matInput
                           required
                           (keydown.enter)="this.confirmThermometerId()"
                    />
                    @if (form.controls.temperature.controls.thermometerId.valid) { <mat-icon matIconSuffix>check</mat-icon> }
                    @if (form.controls.temperature.controls.thermometerId.hasError('required')) { <mat-error [attr.data-testid]="'required-validation-error'">Thermometer ID is required</mat-error> }
                    @if (form.controls.temperature.controls.thermometerId.hasError('deviceIdValidation')) { <mat-error [attr.data-testid]="'device-id-validation-error'">{{ form.controls.temperature.controls.thermometerId.getError('deviceIdValidation') }}</mat-error> }
                </mat-form-field>

                <!-- Temperature -->
                <mat-form-field class="md:col-span-3" [formGroup]="form.controls.temperature">
                    <mat-label>Temperature</mat-label>
                    <input #temperature
                           data-testid="temperature"
                           type="number"
                           formControlName="temperature"
                           min="-273"
                           max="99"
                           matInput
                           required
                           (keydown.enter)="this.confirmTemperature()"
                    />
                    <span matTextSuffix>&deg; C</span>
                    @if (form.controls.temperature.controls.temperature.hasError('required')) { <mat-error>Temperature is required</mat-error> }
                    @if (form.controls.temperature.controls.temperature.hasError('min')) { <mat-error>Temperature must be greater than -273 &deg; C</mat-error> }
                    @if (form.controls.temperature.controls.temperature.hasError('max')) { <mat-error>Temperature must be lesser than 99 &deg; C</mat-error> }
                </mat-form-field>
                }


                <!-- Comments -->
                <mat-form-field class="md:col-span-6" [formGroup]="form">
                    <mat-label>Comments</mat-label>
                    <textarea
                        data-testid="comments"
                        formControlName="comments"
                        matInput
                        rows="3"
                        autocomplete="off"
                    ></textarea>
                </mat-form-field>
            </div>
            }
        </fuse-card>
    </div>
    }
</div>
