<div class="flex flex-auto flex-col space-y-1">
    <biopro-process-header
        [subTitle]="header.subTitle | async"
        [title]="header.title | async"
        [buttons]="actionButtonsTpl"
    ></biopro-process-header>
    <ng-template #actionButtonsTpl>
        <div class="flex flex-row space-x-2">
            <biopro-action-button
                id="cancelBtnId"
                btnId="cancelActionBtn"
                label="Cancel"
                color="primary"
                icon="heroicons_outline:x-circle"
                (clickEvent)="cancelButtonHandler()"
            />
            <biopro-action-button
                id="completeShipmentBtn"
                btnId="completeActionBtn"
                label="Complete Shipment"
                color="primary"
                icon="heroicons_outline:check-circle"
                [disabled]="
                    !isAllPackItemsVerified() ||
                    toBeRemovedItemsComputed().length > 0
                "
                (clickEvent)="completeShipment()"
            />
        </div>
    </ng-template>

    <biopro-verify-products-navbar
        [links]="{
            Verified: currentRouteComputed(),
            Notifications: verifyProductsNotificationsRouteComputed(),
        }"
        [activeLinkRoute]="currentRouteComputed()"
        style="margin-top: 1px !important"
    />

    <div class="flex w-full flex-row space-x-8 p-4">
        @if (verificationSignal(); as verification) {
            <div class="flex w-9/12 flex-auto flex-col space-y-3">
                @if (toBeRemovedItemsComputed()?.length) {
                    <biopro-global-message
                        messageType="error"
                        messageTitle="Notification"
                        [message]="
                            'One or more products have changed status. You must rescan the products to be removed.'
                        "
                    />
                }

                @if (packedItemsComputed(); as packedItems) {
                    @if (verifiedItemsComputed(); as verifiedItems) {
                        <fuse-card
                            class="flex flex-row items-center space-x-6 p-6"
                        >
                            <div class="flex flex-row space-x-2">
                                <span class="text-left font-bold">
                                    (<span id="filledProductsCount">{{
                                        verifiedItems.length ?? 0
                                    }}</span>
                                    of
                                    <span id="totalProducts">{{
                                        packedItems.length ?? 0
                                    }}</span
                                    >)
                                </span>
                                <span class="text-left font-bold">
                                    Verified Products</span
                                >
                                <span
                                    class="text-left font-bold"
                                    id="percentageId"
                                >
                                    {{ verifiedItemsPercentage() | percent }}
                                </span>
                            </div>
                            <div class="flex flex-auto flex-col">
                                <biopro-progress-bar
                                    [progressBarId]="
                                        'verifyProductsProgressBarId'
                                    "
                                    [value]="verifiedItemsPercentage() * 100"
                                />
                            </div>
                        </fuse-card>

                        @if (!toBeRemovedItemsComputed()?.length) {
                            <fuse-card class="flex w-full flex-col space-y-2">
                                <div class="mt-3">
                                    <biopro-scan-unit-number-product-code
                                        #scanUnitNumberProductCode
                                        (validate)="verifyItem($event)"
                                    >
                                    </biopro-scan-unit-number-product-code>
                                </div>
                            </fuse-card>
                        }

                        <fuse-card
                            class="mb-4 flex flex-col px-4 pb-4"
                            id="verifiedProducts-container"
                        >
                            <div
                                class="mb-2 mt-2 flex flex-row justify-between"
                            >
                                <div
                                    class="flex items-center text-lg font-bold"
                                >
                                    <span>
                                        Verified Products (<span
                                            id="numberOfUnitAdded"
                                            >{{ verifiedItems.length }}/{{
                                                packedItems.length
                                            }}</span
                                        >)
                                    </span>
                                </div>
                            </div>
                            <mat-divider></mat-divider>
                            @if (verifiedItems.length) {
                                <div
                                    id="optionButtons"
                                    class="grid max-h-[520px] grid-cols-4 gap-4 overflow-auto pb-4 pt-4"
                                >
                                    @for (
                                        verifiedItem of verifiedItems;
                                        track $index
                                    ) {
                                        <biopro-unit-number-card
                                            [id]="'unit-' + $index"
                                            [disableActive]="false"
                                            class="max-h-24"
                                            [unitNumber]="
                                                verifiedItem.unitNumber
                                            "
                                            [productName]="
                                                verifiedItem.productCode
                                            "
                                            [visualInspection]="
                                                verifiedItem.visualInspection
                                            "
                                            [iconName]="
                                                getItemIcon(verifiedItem)
                                            "
                                            [showVisualInspection]="false"
                                            [ineligibleStatus]="
                                                verifiedItem.ineligibleStatus
                                            "
                                        />
                                    }
                                </div>
                            }
                        </fuse-card>
                    }
                }
            </div>
        }

        <div class="flex w-1/4 flex-auto flex-col">
            @if (shipmentSignal(); as shipment) {
                <app-order-widget-sidebar
                    [orderInput]="{
                        id: shipment?.orderNumber,
                        priority: shipment?.priority,
                        externalId: shipment?.externalId,
                        labelingProductCategory:
                            ProductCategoryMap[shipment?.productCategory],
                    }"
                    [comments]="shipment?.comments"
                    [shippingInput]="{
                        id: shipment?.id,
                        customerCode: shipment?.shippingCustomerCode,
                        customerName: shipment?.shippingCustomerName,
                        status: shipment?.status,
                        method: shipment?.shippingMethod,
                    }"
                />
            }
        </div>
    </div>
</div>
