<div class="flex flex-auto flex-col space-y-1">
    <biopro-process-header
        [subTitle]="header.subTitle | async"
        [title]="header.title | async"
        [buttons]="actionButtonsTpl"
    ></biopro-process-header>
    <ng-template #actionButtonsTpl>
        <div class="flex flex-row space-x-2">
            <biopro-action-button
                id="cancelBtnId"
                btnId="cancelActionBtn"
                label="Cancel "
                color="secondary"
                icon="heroicons_outline:x-circle"
            />
            <biopro-action-button
                id="completeShipmentBtn"
                btnId="completeActionBtn"
                label="Complete Shipment"
                color="primary"
                icon="heroicons_outline:check-circle"
            />
        </div>
    </ng-template>

    <div class="flex w-full flex-row space-x-8 p-4">
        <div class="flex w-9/12 flex-auto flex-col"></div>

        <div class="flex w-1/4 flex-auto flex-col">
            @if (shipmentSignal(); as shipment) {
                <app-order-widget-sidebar
                    [orderInput]="{
                        id: shipment?.orderNumber,
                        priority: shipment?.priority,
                        labelingProductCategory: shipment?.productCategory,
                    }"
                    [comments]="shipment?.comments"
                    [shippingInput]="{
                        id: shipment?.id,
                        customerCode: shipment?.shippingCustomerCode,
                        customerName: shipment?.shippingCustomerName,
                        status: shipment?.status,
                        method: shipment?.shippingMethod,
                    }"
                />
            }
        </div>
    </div>
</div>
