<div class="flex flex-auto flex-col space-y-2">
    <biopro-process-header
        [subTitle]="header.subTitle | async"
        [title]="header.title | async"
        [buttons]="actionButtonsTpl"
    ></biopro-process-header>

    <ng-template #actionButtonsTpl>
        <div class="flex flex-row space-x-2">
            <biopro-action-button
                id="cancelActionBtn"
                btnId="cancelBtnId"
                [disabled]="!externalTransferId()"
                label="Cancel"
                color="secondary"
                icon="heroicons_outline:x-circle"
                (clickEvent)="cancelExternalTransfer()"
            />
            <biopro-action-button
                id="submitActionBtn"
                btnId="submitBtnId"
                [disabled]="!addedProductsComputed().length > 0"
                label="Submit"
                color="primary"
                icon="heroicons_outline:check-circle"
                (clickEvent)="submitExternalTransfer()"
            />
        </div>
    </ng-template>

    <div class="mb-6 flex flex-col space-y-3">
        <div class="flex flex-col">
            <ng-container
                *ngTemplateOutlet="addedProductTpl; context: { review: true }"
            ></ng-container>
        </div>
    </div>
</div>

<!--Create External Transfer-->
<ng-template #addedProductTpl>
    <div class="flex w-full flex-col space-y-2 p-2 pt-0">
        <fuse-card>
            <div class="w-full px-8 pt-2">
                <div
                    [formGroup]="externalTransfer"
                    class="grid grid-cols-1 gap-3 pb-4 pt-4 md:grid-cols-3"
                >
                    <mat-form-field class="block">
                        <mat-label>Hospital Transfer ID</mat-label>
                        <input
                            id="hospitalTransferId"
                            matInput
                            formControlName="hospitalTransferId"
                            placeholder="Enter Hospital Transfer ID"
                            autocomplete="off"
                            validateOn="touchedState"
                        />
                    </mat-form-field>
                    <div class="w-full">
                        <biopro-search-select
                            id="transferCustomerId"
                            [formGroup]="externalTransfer"
                            controlName="transferCustomer"
                            [placeholder]="'Select Transfer To Customer'"
                            title="Transfer To Customer"
                            required="true"
                            [items]="customerOptions"
                            matSelectId="transferCustomerSelectId"
                        >
                        </biopro-search-select>
                    </div>
                    <mat-form-field class="block">
                        <mat-label>Transfer Date</mat-label>
                        <input
                            id="TransferDateId"
                            matInput
                            required
                            formControlName="transferDate"
                            placeholder="Enter Transfer Date MM/DD/YYYY"
                            autocomplete="off"
                            [matDatepicker]="transferDatePicker"
                            [max]="maxDate"
                        />
                        <mat-datepicker-toggle
                            matIconSuffix
                            [for]="transferDatePicker"
                        ></mat-datepicker-toggle>
                        <mat-datepicker #transferDatePicker></mat-datepicker>
                        @if (
                            externalTransfer
                                .get('transferDate')
                                .hasError('matDatepickerMax')
                        ) {
                            <mat-error
                                >Transfer Date cannot be in the
                                future</mat-error
                            >
                        } @else if (
                            externalTransfer
                                .get('transferDate')
                                .hasError('matDatepickerParse')
                        ) {
                            <mat-error>Transfer Date is invalid</mat-error>
                        } @else if (
                            externalTransfer
                                .get('transferDate')
                                .hasError('required')
                        ) {
                            <mat-error>Transfer Date is required</mat-error>
                        }
                    </mat-form-field>
                </div>
            </div>
        </fuse-card>

        <!--Enter Product-->
        @if (externalTransferId()) {
            <div class="flex flex-col space-y-3">
                <fuse-card>
                    <div class="flex w-full flex-col">
                        <div class="flex w-full flex-row gap-4 pb-4 pt-4">
                            <div class="flex w-3/4 flex-col space-y-1">
                                <biopro-enter-products
                                    id="enterProductsId"
                                    #enterProductsComponent
                                    (validate)="enterProduct($event)"
                                >
                                </biopro-enter-products>
                            </div>
                            @if (lastShippedLocationComputed()) {
                                <div
                                    class="flex w-2/4 flex-row items-center p-4"
                                >
                                    <span class="mr-4 text-left font-bold">
                                        Last Shipped Location:
                                    </span>
                                    <span class="flex-auto text-left">
                                        {{ lastShippedLocationComputed() }}
                                    </span>
                                </div>
                            }
                        </div>
                    </div>
                </fuse-card>

                <fuse-card
                    class="mb-4 flex flex-col px-4 pb-4"
                    id="addedProduct-container"
                >
                    <div class="mb-2 mt-2 flex flex-row justify-between">
                        <div class="flex flex-col pl-4 pt-4 text-lg font-bold">
                            <div>
                                Added Products (<span
                                    id="numberOfProductsAdded"
                                    >{{ addedProductsComputed().length }}</span
                                >)
                            </div>
                        </div>
                    </div>
                    <mat-divider></mat-divider>
                    <div
                        id="optionButtons"
                        class="grid max-h-[420px] grid-cols-5 gap-4 overflow-auto pb-4 pt-4"
                    >
                        @for (option of addedProductsComputed(); track $index) {
                            <biopro-unit-number-card
                                [id]="'unit-' + $index"
                                class="max-h-24"
                                [unitNumber]="option.unitNumber"
                                [productName]="option.productCode"
                                [iconName]="getIcon(option.productFamily)"
                                [disableActive]="false"
                            ></biopro-unit-number-card>
                        }
                    </div>
                </fuse-card>
            </div>
        }
    </div>
</ng-template>
