app-close-irradiation {
    div.grid-container {
        display: grid;
        grid-auto-flow: column;
        grid-template-rows: repeat(5, auto);
        grid-template-columns: repeat(auto-fit, 330px);
        gap: 1rem;
        padding: 22px;
    }

    biopro-unit-number-card {
        width: 330px;
        max-height: 92px;
    }
}
