<div class="flex flex-col flex-auto">
  <rsa-process-header
    [buttons]="buttons"
    [subTitle]="header.subTitle$ | async | translate"
    [title]="header.title$ | async | translate"
  ></rsa-process-header>

  <ng-template #buttons>
    <div class="flex w-full pl-16 mt-3 mr-2 space-x-2 flex-row">
      <mat-form-field appearance="fill" class="block w-full" id="donor-search-form">
        <span matPrefix><mat-icon [svgIcon]="'search'"></mat-icon></span>
        <input
          id="searchOrderId"
          autocomplete="off"
          matInput
          [(ngModel)]="searchString"
          (ngModelChange)="searchStringChange($event)"
          [placeholder]="(placeholder ? placeholder : 'enter-search-criteria.label') | translate"
        />
      </mat-form-field>
      <button
        id="searchButton"
        class="action-button primary"
        mat-stroked-button
        type="button"
        (click)="applyFilters()"
        [disabled]="!enableSearchBtn"
      >
        <mat-icon [svgIcon]="'search'"></mat-icon>
        {{ 'search.label' | translate }}
      </button>
    </div>
  </ng-template>

  <div class="flex flex-col">
    <div class="flex flex-row space-x-4 w-full p-4">
      <div class="w-120">
        <!-- Search Section -->
        <treo-card class="flex-col pb-4">
          <!-- Header Section -->
          <div class="treo-card-title">
            <div class="flex flex-row w-full justify-between px-5 items-baseline">
              <h3>{{ 'filters.label' | translate }}</h3>
            </div>
          </div>
          <mat-divider></mat-divider>

          <form [formGroup]="orderSearchGroup" id="orderSearchGroupId" class="p-4 flex flex-col w-full">
            <div class="flex flex-col space-y-2 p-3">
              <div class="flex flex-col space-y-2">
                <mat-form-field appearance="fill" class="block w-full">
                  <mat-label class="font-bold">{{ 'shipment-type.label' | translate }}</mat-label>
                  <mat-select
                    required
                    id="shipmentTypeId"
                    formControlName="shipmentType"
                    (ngModelChange)="shipmentTypesChange($event)"
                    [placeholder]="'select-an-option.label' | translate"
                  >
                    <mat-option *ngFor="let shipType of shipmentTypes" [value]="shipType">{{
                      shipType.descriptionKey | translate
                    }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="flex flex-col space-y-2">
                <label class="block font-bold" [for]="'orderFieldId'">
                  {{ 'orders.label' | translate }}
                </label>
                <mat-form-field appearance="fill" class="block w-full">
                  <mat-select
                    multiple
                    id="orderFieldId"
                    formControlName="order"
                    (selectionChange)="setSearchPlaceholder($event)"
                    [placeholder]="'select-an-option.label' | translate"
                  >
                    <mat-option *ngFor="let field of orderFields" [value]="field">{{
                      field.descriptionKey | translate
                    }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="flex flex-col space-y-2" *ngIf="!isInternalTransfersSelected">
                <div class="flex flex-col">
                  <label class="block font-bold mb-1" [for]="'shipTo'">
                    {{ 'ship-to.label' | translate }}
                  </label>
                  <!--TODO: Use autocomplete from angular material-->
                  <p-multiSelect
                    #shipToSelId
                    id="shipToSelId"
                    class="w-full max-w-full multiselect-custom-virtual-scroll"
                    formControlName="shippingCustomerExternalId"
                    maxSelectedLabels="1"
                    optionLabel="name"
                    display="chip"
                    [filterBy]="customerFilterBy"
                    [emptyMessage]="'no-results-found.label' | translate"
                    [emptyFilterMessage]="'no-results-found.label' | translate"
                    [options]="shipToCustomers"
                    [defaultLabel]="'select-an-option.label' | translate"
                    [itemSize]="10"
                    [virtualScroll]="true"
                    (onFilter)="customerFilter($event, 'shippingCustomerExternalId')"
                  >
                    <ng-template pTemplate="selectedItems" let-value>
                      <div *ngFor="let customer of selectedShipToCustomers" class="p-multiselect-token">
                        <span class="p-multiselect-token-label">{{ customer.name }}</span>
                        <span
                          *ngIf="!disabled"
                          class="p-multiselect-token-icon pi pi-times-circle"
                          (click)="removeCustomer(customer, 'shippingCustomerExternalId')"
                        ></span>
                      </div>
                      <ng-container *ngIf="!selectedShipToCustomers?.length" class="country-placeholder">{{
                        'select-an-option.label' | translate
                      }}</ng-container>
                    </ng-template>
                  </p-multiSelect>
                </div>
              </div>

              <div class="flex flex-col space-y-2" *ngIf="!isInternalTransfersSelected">
                <label class="block font-bold" [for]="'billTo'">
                  {{ 'bill-to.label' | translate }}
                </label>
                <!--TODO: Use autocomplete from angular material-->
                <p-multiSelect
                  #billToSelId
                  id="billToSelId"
                  class="w-full max-w-full multiselect-custom-virtual-scroll"
                  formControlName="billingCustomerExternalId"
                  maxSelectedLabels="1"
                  optionLabel="name"
                  display="chip"
                  [filterBy]="customerFilterBy"
                  [emptyMessage]="'no-results-found.label' | translate"
                  [emptyFilterMessage]="'no-results-found.label' | translate"
                  [options]="billToCustomers"
                  [defaultLabel]="'select-an-option.label' | translate"
                  [itemSize]="10"
                  [virtualScroll]="true"
                  (onFilter)="customerFilter($event, 'billingCustomerExternalId')"
                >
                  <ng-template pTemplate="selectedItems" let-value>
                    <div *ngFor="let customer of selectedBillToCustomers" class="p-multiselect-token">
                      <span class="p-multiselect-token-label">{{ customer.name }}</span>
                      <span
                        *ngIf="!disabled"
                        class="p-multiselect-token-icon pi pi-times-circle"
                        (click)="removeCustomer(customer, 'billingCustomerExternalId')"
                      ></span>
                    </div>
                    <ng-container *ngIf="!selectedBillToCustomers?.length" class="country-placeholder">{{
                      'select-an-option.label' | translate
                    }}</ng-container>
                  </ng-template>
                </p-multiSelect>
              </div>

              <div class="flex flex-col space-y-2" *ngIf="isInternalTransfersSelected">
                <div class="flex flex-col">
                  <mat-form-field class="flex-auto">
                    <mat-label class="font-bold min-w-60">{{ 'ship-to.label' | translate }}</mat-label>
                    <input
                      id="shipToLocation"
                      matInput
                      formControlName="shipToLocation"
                      validateOn="blur"
                      rsaNoControlErrors
                      [matAutocomplete]="shipToAuto"
                      [placeholder]="'select-an-option.label' | translate"
                    />
                    <mat-autocomplete #shipToAuto="matAutocomplete" [displayWith]="displayLocationFn">
                      <mat-option *ngFor="let location of filteredLocations$ | async" [value]="location">
                        {{ location.name }}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                </div>
              </div>

              <div class="flex flex-col space-y-2">
                <label class="block font-bold" [for]="'status'">
                  {{ 'status.label' | translate }}
                </label>
                <mat-form-field appearance="fill" class="block w-full">
                  <mat-select
                    multiple
                    id="status"
                    formControlName="statusKey"
                    [placeholder]="'select-an-option.label' | translate"
                  >
                    <mat-option
                      #allStatusesSelected
                      [value]="allOption"
                      (click)="checkAllOptions(allStatusesSelected.selected, 'statusKey')"
                      >{{ allOption.descriptionKey | translate }}</mat-option
                    >
                    <mat-option
                      *ngFor="let status of statuses"
                      [value]="status"
                      (click)="checkOneOption(allStatusesSelected, 'statusKey')"
                    >
                      {{ status.descriptionKey | translate }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="flex flex-col space-y-2">
                <label class="block font-bold" [for]="'deliveryType'">
                  {{ 'priority.label' | translate }}
                </label>
                <mat-form-field appearance="fill" class="block w-full">
                  <mat-select
                    multiple
                    id="deliveryType"
                    formControlName="deliveryType"
                    [placeholder]="'select-an-option.label' | translate"
                  >
                    <mat-option
                      #allDeliveryTypesSelected
                      [value]="allOption"
                      (click)="checkAllOptions(allDeliveryTypesSelected.selected, 'deliveryType')"
                      >{{ allOption.descriptionKey | translate }}</mat-option
                    >
                    <mat-option
                      *ngFor="let deliveryType of deliveryTypes"
                      [value]="deliveryType"
                      (click)="checkOneOption(allDeliveryTypesSelected, 'deliveryType')"
                    >
                      {{ deliveryType.descriptionKey | translate }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="flex flex-row space-x-2">
                <div class="flex flex-col flex-auto space-y-2">
                  <label class="block font-bold" [for]="'createDateFrom'">
                    {{ 'create-date-from.label' | translate }}
                  </label>
                  <mat-form-field appearance="fill">
                    <input
                      id="createDateFrom"
                      matInput
                      formControlName="createDateFrom"
                      rsaNoControlErrors
                      autocomplete="off"
                      placeholder="MM/DD/YYYY"
                      validateOn="touchedState"
                      [max]="orderSearchGroup?.controls?.createDateTo?.value"
                      [matDatepicker]="createDateFrom"
                      (dateChange)="dateChange($event, 'createDateFrom', 'createDateTo')"
                    />
                    <mat-datepicker-toggle matSuffix [for]="createDateFrom"></mat-datepicker-toggle>
                    <mat-datepicker #createDateFrom></mat-datepicker>
                  </mat-form-field>
                  <span class="mt-2 error" *ngIf="orderSearchGroup?.controls?.createDateFrom?.errors">
                    {{ 'create-date-from.label' | validation: validationType.INVALID }}
                  </span>
                </div>
                <div class="flex flex-col flex-auto space-y-2">
                  <label class="block font-bold" [for]="'createDateTo'">
                    {{ 'create-date-to.label' | translate }}
                  </label>
                  <mat-form-field appearance="fill">
                    <input
                      id="createDateTo"
                      matInput
                      formControlName="createDateTo"
                      autocomplete="off"
                      placeholder="MM/DD/YYYY"
                      validateOn="touchedState"
                      rsaNoControlErrors
                      [min]="orderSearchGroup?.controls?.createDateFrom?.value"
                      [matDatepicker]="createDateTo"
                      (dateChange)="dateChange($event, 'createDateFrom', 'createDateTo')"
                    />
                    <mat-datepicker-toggle matSuffix [for]="createDateTo"></mat-datepicker-toggle>
                    <mat-datepicker #createDateTo></mat-datepicker>
                  </mat-form-field>
                  <span class="mt-2 error" *ngIf="orderSearchGroup?.controls?.createDateTo?.errors">
                    {{ 'create-date-to.label' | validation: validationType.INVALID }}
                  </span>
                </div>
              </div>

              <div class="flex flex-row space-x-2 p-fluid">
                <div class="flex flex-col flex-auto space-y-2 p-field">
                  <label class="block font-bold" [for]="'desireShippingDateFrom'">
                    {{ 'ship-date-from.label' | translate }}
                  </label>
                  <mat-form-field appearance="fill">
                    <input
                      id="desireShippingDateFrom"
                      matInput
                      formControlName="desireShippingDateFrom"
                      rsaNoControlErrors
                      autocomplete="off"
                      placeholder="MM/DD/YYYY"
                      validateOn="touchedState"
                      [max]="orderSearchGroup?.controls?.desireShippingDateTo?.value"
                      [matDatepicker]="desireShippingDateFrom"
                      (dateChange)="dateChange($event, 'desireShippingDateFrom', 'desireShippingDateTo')"
                    />
                    <mat-datepicker-toggle matSuffix [for]="desireShippingDateFrom"></mat-datepicker-toggle>
                    <mat-datepicker #desireShippingDateFrom></mat-datepicker>
                  </mat-form-field>
                  <span class="mt-2 error" *ngIf="orderSearchGroup?.controls?.desireShippingDateFrom?.errors">
                    {{ 'ship-date-from.label' | validation: validationType.INVALID }}
                  </span>
                </div>
                <div class="flex flex-col flex-auto space-y-2 p-field">
                  <label class="block font-bold" [for]="'desireShippingDateTo'">
                    {{ 'ship-date-to.label' | translate }}
                  </label>
                  <mat-form-field appearance="fill">
                    <input
                      id="desireShippingDateTo"
                      matInput
                      formControlName="desireShippingDateTo"
                      autocomplete="off"
                      placeholder="MM/DD/YYYY"
                      validateOn="touchedState"
                      rsaNoControlErrors
                      [min]="orderSearchGroup?.controls?.desireShippingDateFrom?.value"
                      [matDatepicker]="desireShippingDateTo"
                      (dateChange)="dateChange($event, 'desireShippingDateFrom', 'desireShippingDateTo')"
                    />
                    <mat-datepicker-toggle matSuffix [for]="desireShippingDateTo"></mat-datepicker-toggle>
                    <mat-datepicker #desireShippingDateTo></mat-datepicker>
                  </mat-form-field>
                  <span class="mt-2 error" *ngIf="orderSearchGroup?.controls?.desireShippingDateTo?.errors">
                    {{ 'ship-date-to.label' | validation: validationType.INVALID }}
                  </span>
                </div>
              </div>
            </div>

            <!-- Action Buttons -->
            <div class="flex flex-row w-full justify-between space-x-2 mt-2">
              <button
                id="resetFilterBtn"
                type="button"
                mat-stroked-button
                class="bg-custom-gray-button border-0 flex-auto"
                (click)="resetFilters()"
              >
                {{ 'reset.label' | translate }}
              </button>
              <button
                id="applyFilterBtn"
                type="button"
                mat-stroked-button
                class="bg-custom-gray-button border-0 flex-auto"
                (click)="applyFilters()"
                [disabled]="!orderSearchGroup.valid"
              >
                {{ 'apply.label' | translate }}
              </button>
            </div>
          </form>
        </treo-card>
      </div>

      <div class="w-full overflow-hidden">
        <treo-card class="flex-col pb-4">
          <!-- Header Section -->
          <div class="treo-card-title">
            <div class="flex flex-row w-full justify-between px-5 items-baseline">
              <h3>{{ 'results.label' | translate }}</h3>
            </div>
          </div>
          <mat-divider></mat-divider>
          <div class="table-wrapper">
            <p-table
              #orderTable
              id="ordersTableId"
              dataKey="id"
              styleClass="p-datatable-customers p-datatable-sm"
              currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
              [value]="orders"
              [columns]="selectedColumns"
              [rows]="defaultRowsPerPage"
              [totalRecords]="totalRecords"
              [rowsPerPageOptions]="[10, 25, 50]"
              [showCurrentPageReport]="true"
              [paginator]="true"
              [loading]="loading"
              [lazy]="true"
              [sortField]="defaultSortField"
              [expandedRowKeys]="expandedRows"
              (onLazyLoad)="fetchOrders($event)"
              (onRowExpand)="onRowExpand()"
              (onRowCollapse)="onRowCollapse()"
            >
              <ng-template pTemplate="caption">
                <div class="flex flex-row-reverse flex-auto py-3" *ngIf="!hideColumnSelection">
                  <p-multiSelect
                    id="chooseColumnsSelect"
                    optionLabel="header"
                    class="w-120"
                    optionDisabled="default"
                    [options]="chooseColumnsSelect"
                    [(ngModel)]="selectedColumns"
                    [selectedItemsLabel]="'{0} ' + ('columns-selected.label' | translate)"
                    [placeholder]="'choose-columns.label' | translate"
                  >
                    <ng-template pTemplate="item" let-option>
                      <span>{{ option.header | translate }}</span>
                    </ng-template>
                  </p-multiSelect>
                </div>
              </ng-template>
              <ng-template pTemplate="header" let-columns>
                <tr>
                  <th class="w-12">
                    <button
                      id="expandAllRowBtn"
                      type="button"
                      pButton
                      pRipple
                      class="p-button-text p-button-rounded p-button-plain"
                      [icon]="isExpandedAll ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
                      (click)="expandAll()"
                    ></button>
                  </th>
                  <th
                    [pSortableColumn]="col.sortable ? (col.sortFieldName ? col.sortFieldName : col.field) : null"
                    [ngClass]="col.headerCls"
                    *ngFor="let col of columns; let i = index"
                  >
                    <div class="flex items-center p-d-flex p-jc-between p-ai-center" *ngIf="!col.hideHeader">
                      {{ col.header | translate }}
                      <p-sortIcon
                        [field]="col.sortFieldName ? col.sortFieldName : col.field"
                        *ngIf="col.sortable"
                      ></p-sortIcon>
                    </div>
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-order let-expanded="expanded" let-columns="columns">
                <tr>
                  <td [ngStyle]="{ width: '30px' }">
                    <button
                      id="expandRowBtn"
                      type="button"
                      class="p-button-text p-button-rounded p-button-plain"
                      pButton
                      pRipple
                      *ngIf="order?.comments"
                      [pRowToggler]="order"
                      [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
                    ></button>
                  </td>
                  <td *ngFor="let col of columns; let i = index" class="break-all">
                    <ng-template #dateTpl let-order let-field="field">
                      {{ order[field] | date: 'MM/dd/yyyy' }}
                    </ng-template>
                    <ng-template #actionTpl let-order>
                      <button
                        id="detailsBtn"
                        class="bg-custom-red justify-center"
                        mat-stroked-button
                        (click)="details(order)"
                      >
                        {{ 'details.label' | translate }}
                      </button>
                    </ng-template>
                    <ng-template #statusTpl let-order>
                      <span class="badge status" [ngStyle]="{ 'background-color': order.statusColor }">
                        {{ order.statusDescriptionKey | translate | uppercase }}
                      </span>
                    </ng-template>

                    <ng-container *ngIf="{ dateTpl: dateTpl, statusTpl: statusTpl, actionTpl: actionTpl } as templates">
                      <ng-container *ngIf="col?.templateRef">
                        <ng-container
                          *ngTemplateOutlet="
                            templates[col?.templateRef];
                            context: { $implicit: order, field: col?.field }
                          "
                        ></ng-container>
                      </ng-container>
                    </ng-container>

                    <ng-container *ngIf="!col?.templateRef">
                      {{ order[col.field]?.toString() | translate | uppercase }}
                    </ng-container>
                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="rowexpansion" let-order>
                <tr>
                  <td [attr.colspan]="selectedColumns?.length">
                    <div class="p-4">
                      <span class="font-bold mb-1 text-left mr-4 w-60">{{ 'comments.label' | translate }}</span>
                      <span class="flex-auto text-left">{{ order?.comments | uppercase }}</span>
                    </div>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </treo-card>
      </div>
    </div>
  </div>
</div>
