treo-card,
::ng-deep div.mat-horizontal-content-container {
  overflow: initial !important;
}

::ng-deep #ordersTableId .p-datatable.p-datatable-sm .p-datatable-header {
  padding: 0;
}

span.error {
  display: block;
  color: #c81e1e;
}

::ng-deep div.mat-horizontal-content-container {
  overflow: initial !important;
}
