<div class="relative flex h-full w-full flex-col">
    <h1 mat-dialog-title class="text-3xl">Select Product</h1>
    <!-- Dismiss button -->
    <div class="absolute right-0 top-0 pr-4 pt-2">
        <button mat-icon-button [matDialogClose]="undefined">
            <mat-icon
                class="text-secondary"
                [svgIcon]="'heroicons_outline:x-mark'"
            />
        </button>
    </div>

    <!-- Content -->
    <mat-dialog-content class="mat-typography">
        <div class="flex w-full flex-auto items-center justify-center p-4">
            <biopro-options-picker
                [maxColumnsAllowed]="1"
                optionsLabel="productDescription"
                [options]="products()"
                (optionChange)="selectOptionChange($event)"
            />
        </div>
    </mat-dialog-content>

    <!-- Actions -->
    <mat-dialog-actions align="end" class="space-x-6">
        <biopro-action-button
            id="selectProductPickerCancelId"
            btnId="selectProductPickerCancelBtnId"
            label="Cancel"
            color="secondary"
            mat-dialog-close
        />
    </mat-dialog-actions>
</div>
