::ng-deep {
  biopro-custom-button-toggle {
    .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
      width: -webkit-fill-available;
    }

    .mat-button-toggle-group .mat-button-toggle.mat-button-toggle-checked {
      .mat-button-toggle-label-content {
        background-color: #a4a900 !important;
        color: #edf0bc !important;
        
        mat-icon svg {
          fill: #edf0bc !important;
        }
      }
      
      &.toggle-green .mat-button-toggle-label-content {
        background-color: #dcfce7 !important;
        color: #15803d !important;
        
        mat-icon svg {
          fill:  #15803d !important;
        }
      }
      
      &.toggle-red .mat-button-toggle-label-content {
        background-color: #fee2e2 !important;
        color: #b91c1c !important;
        
        mat-icon svg {
          fill: #b91c1c !important;;
        }
      }
    }
  }
}