<div class="flex flex-col pb-1 px-1">
    @if (showLabel()) {
        <div class="flex flex-row">
            <span class="flex ">
                {{ label() }}
            </span>
            @if(required()){
                <span class="flex custom-required">*</span>
            }
        </div>
    }
    <mat-button-toggle-group
        [id]="toggleId()"
        class="w-full h-full custom-toggle-button"
        [formControl]="control()"
        [hideSingleSelectionIndicator]="hideSingleSelectionIndicator()"
        (change)="selectedOption()"
    >

        @for (option of options(); track $index) {
            <mat-button-toggle
                class="flex items-center justify-center w-full h-full"
                [class]="option.class"
                [disabled]="isDisabled()"
                [id]="option.value"
                [value]="option.value"
            >
                @if(option.iconName){
                    <mat-icon
                        class="mr-1 icon-size-4 custom-button-toggle-text"
                        [svgIcon]="'heroicons_solid:' + getIconName(option.value)"
                    >
                    </mat-icon>
                }
                <span class="custom-button-toggle-text">{{ option.label }}</span>
            </mat-button-toggle>
        }
    </mat-button-toggle-group>
</div>
