<mat-form-field class="block w-full" [id]="dateRangeId">
    <mat-label>{{ title }}</mat-label>
    <mat-date-range-input
        [disabled]="disabled"
        [rangePicker]="dateRangePicker"
        [formGroup]="formGroup"
        [max]="maxDate"
        [min]="minDate"
        sharedInputFix
    >
        <input
            matStartDate
            formControlName="start"
            placeholder="Start date"
            [id]="dateRangeId + 'From'"
        />
        <input
            matEndDate
            formControlName="end"
            placeholder="End date"
            [id]="dateRangeId + 'To'"
        />
    </mat-date-range-input>

    <mat-datepicker-toggle
        matIconSuffix
        [for]="dateRangePicker"
    ></mat-datepicker-toggle>
    <mat-date-range-picker #dateRangePicker></mat-date-range-picker>
</mat-form-field>
@if (formGroup.get('start')?.hasError('matDatepickerMin')) {
    <mat-error>{{ matDatepickerMinErrorMessage }}</mat-error>
}
@if (formGroup.get('end')?.hasError('matEndDateInvalid')) {
    <mat-error>{{ matEndDateInvalidMessage }}</mat-error>
}
@if (formGroup.get('end')?.hasError('matDatepickerMax')) {
    <mat-error>{{ matDatepickerMaxMessage }}</mat-error>
}
