
.unit-number-card-container {
  max-height: 110px;
  box-shadow: 0 3px 6px #00000029;
}

.active-unit-card {
  background-color: #a4a900;
}

.active-unit-card > * {
  color: white;
}

.satisfactoryBadge{
  background-color: #0E9F6E;
}

.rounded-pill {
  border-radius: 50rem !important;
}

.badge {
  display: inline-block;
  padding: 0.35em 0.65em;
  font-size: 0.75em;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.375rem;
}
