<div class="flex flex-auto flex-col">
    <rsa-common-widget
        [title]="'Shipment Information'"
        [templateRef]="shipInfoTpl"
        [showBasicButton]="showBasicButton"
        [buttonDisabled]="isButtonDisabled"
        buttonClass="mat-primary-flat text-white"
        [buttonLabel]="'Edit'"
        (buttonClick)="handleButtonClick()"
    >
        <mat-divider class="bold"></mat-divider>
        <ng-template #shipInfoTpl>
            <div class="flex flex-col space-y-2">
                <rsa-description-card
                    id="shippingInfoDescriptions"
                    [descriptions]="shipping()"
                    [showColon]="false"
                    [embedded]="true"
                    [maxCols]="1"
                    [valueClasses]="'align-card-info'"
                    [labelClasses]="'align-card-info'"
                ></rsa-description-card>
            </div>
        </ng-template>
    </rsa-common-widget>
</div>
