/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr';
@import 'treo';
@import 'treo-theme-default';
@import 'primeng/components';
@import 'custom-colors';

.content-layout.fullwidth-standard-normal-scroll > .header {
  padding: 15px 25px;
}

treo-card {
  .treo-card-title {
    h3 {
      margin: 1rem;
    }
  }
}

@include treo-theme {
  $primary: map-get($theme, primary);
  $warn: map-get($theme, warn);
  $gray-500: treo-color('cool-gray', 500);

  mat-icon {
    &.primary {
      color: map-get($primary, default) !important;
      background: none !important;
    }
  }

  button {
    &.action-button {
      background-color: #fff;
      //background-color: map-get($primary, default) !important;
      color: $gray-500;
      cursor: pointer;
      height: 48px;
      min-height: 48px;
      max-height: 48px;

      &.dialog-close {
        background-color: $gray-light-color;
        color: $gray-500;
      }

      &[disabled] {
        //background-color: map-get($primary, 200) !important;
        background-color: $gray-light-color;
        box-shadow: 0 3px 1px -2px rgba(220, 220, 220, 0.11), 0 2px 2px 0 rgba(220, 220, 220, 0.14),
          0 1px 5px 0 rgba(220, 220, 220, 0.12);
        cursor: not-allowed !important;

        mat-icon {
          -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
        }
      }
    }

    &.checkBtn {
      background-color: #fff;
      color: greenyellow;
      border: 1px solid greenyellow;
      padding: 2px;
      border-radius: 2px;
      margin-left: 2px;
    }

    &.errBtn {
      background-color: #fff;
      color: #cd7b66;
      border: 1px solid #cd7b66;
      padding: 2px;
      border-radius: 2px;
      margin-left: 2px;
    }

    &.primary {
      background-color: map-get($primary, default);
      color: white;
    }

    &.edit {
      background-color: $warning-color;
      color: white;
    }

    &.bg-green-highlighted {
      background-color: $button-highlighted;
      color: white;
    }

    &.bg-green {
      background-color: $green-color;
      color: white;
    }

    &.bg-orange-light {
      background-color: $orange-light-color;
      color: white;
    }

    &.bg-gray-light {
      background-color: $gray-light-color;
      color: $gray-500 !important;
    }

    &.bg-purple-light {
      background-color: $purple-light-color;
      color: white;

      &[disabled] {
        background-color: $purple-disable-light-color;
      }
    }

    &.bg-danger {
      background-color: map-get($warn, 500);
      color: white;
    }

    &.btn-red-light {
      background-color: $red-light-color;
      color: white;

      mat-icon {
        color: white !important;
      }
    }

    &.bg-custom-red {
      background-color: $custom-red;
      color: white;

      mat-icon {
        color: white !important;
      }
    }

    &.btn-info {
      background-color: $blue-color;
      color: white;
    }
  }

  .bg-warning {
    background: #e8ba06 !important;
    color: white !important;
  }

  .bg-custom-red {
    background-color: $custom-red;
    color: white;
  }

  .bg-success {
    background-color: #4caf50;
    color: white;
  }

  .bg-orange-light {
    background-color: $orange-light-color;
    color: white;
  }

  .text-orange-light {
    color: $orange-light-color;
  }

  .text-red-light {
    color: $red-light-color;
  }

  .text-purple-light {
    color: $purple-light-color;
  }

  .text-custom-red {
    color: $custom-red;

    mat-icon {
      color: $custom-red;
    }
  }

  .text-custom-green {
    color: $success-color;

    mat-icon {
      color: $success-color;
    }
  }
}

.mat-form-field.mat-form-field-appearance-fill .mat-form-field-wrapper {
  margin-bottom: 8px;
  padding-bottom: 0;
}

.input-with-validation {
  min-height: 7rem;
}
