<div
    class="inline-flex select-none flex-row items-center justify-center gap-2 rounded-full px-2.5 py-[0.2rem]"
    [ngClass]="TagTypeMap[type].backgroundColor"
>
    @if (leftIconRef) {
        <mat-icon
            [svgIcon]="leftIconRef"
            class="fill-current"
            [ngClass]="TagTypeMap[type].leftIconColor"
        ></mat-icon>
    }
    @if (label) {
        <span
            class="base font-bold uppercase"
            [ngClass]="TagTypeMap[type].textColor"
            >{{ label }}</span
        >
    }
    @if (rightIconRef) {
        <mat-icon
            [svgIcon]="rightIconRef"
            class="fill-current"
            [ngClass]="TagTypeMap[type].rightIconColor"
        ></mat-icon>
    }
</div>
