/* ----------------------------------------------------------------------------------------------------- */
/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and Fuse's base styles.
/* ----------------------------------------------------------------------------------------------------- */

@use 'sass:map';
@use '@angular/material' as mat;
@use 'user-themes' as userThemes;
@use 'themes' as themes;

/* BioPro */
$theme: map-get(userThemes.$user-themes, default);
$primary: map-get($theme, primary);
$foreground: map-get(themes.$light-base, foreground);
$background: map-get(themes.$light-base, background);
$warn: map-get($theme, warn);
$gray: map-get($theme, gray);
$moduleLightAccent: #f2f5f9;

/* ----------------------------------------------------------------------------------------------------- */
/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and Fuse's base styles.
/* ----------------------------------------------------------------------------------------------------- */



$red-light-color: #cd7b66;
$custom-red: #cd6666;
$custom-red-required: #c81e1e;
$gray-light-color: #e4e4e4;
$orange-light-color: #e69c52;
$purple-light-color: #7986cb;
$purple-disable-light-color: #bfbfe5;
$warning-color: #e8ba06;
$success-color: #4caf50;
$green-color: #089133;
$blue-color: #387cb4;
$custom-gray-color: #7f9ab3;
$button-highlighted: #99cd66;
$custom-red-100: #f4e2e2;


.p-datatable .p-datatable-thead {
    height: 50px !important;
  
    & > tr {
      & > th {
        text-align: left;
        padding: 1rem 1rem;
        border-width: 0 0 1px 0;
        color: #495057;
        background: #f8f9fa;
        transition: box-shadow 0.2s;
  
        &.p-sortable-column.p-highlight {
          color: #495057;
          background: #f8f9fa;
        }
      }
    }
  }
  
  .p-datatable {
    .p-datatable-wrapper {
      overflow-x: auto !important;
  
      &::-webkit-scrollbar {
        width: 12px;
      }
  
      &::-webkit-scrollbar-track {
        background: white;
      }
  
      &::-webkit-scrollbar-thumb {
        background-color: #dbdada;
        border-radius: 20px;
        border: 3px solid white;
      }
    }
  
    table {
      table-layout: auto !important;
  
      thead {
        th {
          white-space: nowrap !important;
        }
      }
  
      tbody {
        td {
          white-space: nowrap !important;
        }
      }
    }
  }
  
  .p-datatable .p-datatable-tfoot > tr {
    & > td {
      text-align: left;
      color: #495057;
      background: #f8f9fa;
      transition: box-shadow 0.2s;
    }
  }
  
  .p-datatable .p-datatable-tbody > tr {
    height: 32px;
  }



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.content-layout.fullwidth-standard-normal-scroll > .header {
    padding: 15px 25px;
  }

  .module-title {
    color: #A4A900;
  }

  .custom-required{
    color: $custom-red-required;
  }

  .text-custom-red {
    color: $custom-red;

    mat-icon {
      color: $custom-red;
    }
  }

  .custom-red {
    color: $custom-red;
  }

  .text-orange-light {
    color: $orange-light-color;
  }

  button {
    &.action-button {
      background-color: #fff;
      color: #64748b;
      cursor: pointer;
      height: 48px;
      min-height: 48px;
      max-height: 48px;

      &[disabled] {
        box-shadow: 0 3px 1px -2px rgba(220, 220, 220, 0.11), 0 2px 2px 0 rgba(220, 220, 220, 0.14),
          0 1px 5px 0 rgba(220, 220, 220, 0.12);
        cursor: not-allowed !important;

        mat-icon {
          -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
        }
      }
    }

    &.checkBtn {
      background-color: #fff;
      color: greenyellow;
      border: 1px solid greenyellow;
      padding: 2px;
      border-radius: 2px;
      margin-left: 2px;
    }

    &.errBtn {
      background-color: #fff;
      color: #cd7b66;
      border: 1px solid #cd7b66;
      padding: 2px;
      border-radius: 2px;
      margin-left: 2px;
    }

    &.primary {
      color: #495057;
    }

    &.edit {
      background-color: $warning-color;
      color: white;
    }

    &.bg-green-highlighted {
      background-color: $button-highlighted;
      color: white;
    }

    &.bg-green {
      background-color: $green-color;
      color: white;
    }

    &.bg-orange-light {
      background-color: $orange-light-color;
      color: white;
    }

    &.bg-gray-light {
      background-color: $gray-light-color;
    }

    &.bg-purple-light {
      background-color: $purple-light-color;
      color: white;

      &[disabled] {
        background-color: $purple-disable-light-color;
      }
    }

    &.btn-red-light {
      background-color: $red-light-color;
      color: white;

      mat-icon {
        color: white !important;
      }
    }

    &.bg-custom-red {
      background-color: $custom-red;
      color: white;

      mat-icon {
        color: white !important;
      }
    }

    &.btn-info {
      background-color: $blue-color;
      color: white;
    }
  }

  .content-layout.fullwidth-standard-normal-scroll > .header {
    padding: 15px 25px;
    background: white;
  }
