/* ----------------------------------------------------------------------------------------------------- */

/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and Fuse's base styles.
/* ----------------------------------------------------------------------------------------------------- */

@use 'ngx-toastr/toastr';
@use 'sass:map';
@use '@angular/material' as mat;
@use 'user-themes' as userThemes;
@use 'themes' as themes;

/* BioPro */
$theme: map.get(userThemes.$user-themes, default);
$primary: map.get($theme, primary);
$foreground: map.get(themes.$light-base, foreground);
$background: map.get(themes.$light-base, background);
$warn: map.get($theme, warn);
$gray: map.get($theme, gray);

$red-light-color: #cd7b66;
$custom-red: #cd6666;
$custom-red-required: #c81e1e;
$gray-light-color: #e4e4e4;
$orange-light-color: #e69c52;
$purple-light-color: #7986cb;
$purple-disable-light-color: #bfbfe5;
$warning-color: #e8ba06;
$success-color: #4caf50;
$green-color: #089133;
$blue-color: #387cb4;
$custom-gray-color: #7f9ab3;
$button-highlighted: #a4a900;
$custom-red-100: #f4e2e2;

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.content-layout.fullwidth-standard-normal-scroll > .header {
    padding: 15px 25px;
    background: white;
}

.module-title {
    color: map.get($primary, DEFAULT);
    font-weight: 500;
    font-size: large;
}

.custom-required {
    @apply text-red-700;

    font-weight: bold;
    margin-left: 1px;
    margin-right: 0;
}

.text-custom-red {
    color: $custom-red;

    mat-icon {
        color: $custom-red;
    }
}

.text-custom-green{
  color: $green-color;
}

.custom-red {
    color: $custom-red;
}

.text-orange-light {
    color: $orange-light-color;
}

button {
    &.action-button {
        background-color: #fff;
        color: #64748b;
        cursor: pointer;
        height: 48px;
        min-height: 48px;
        max-height: 48px;

        &.primary {
            background-color: map.get($primary, DEFAULT) !important;
            color: white;
        }

        &[disabled] {
            box-shadow:
                0 3px 1px -2px rgb(220 220 220 / 11%),
                0 2px 2px 0 rgb(220 220 220 / 14%),
                0 1px 5px 0 rgb(220 220 220 / 12%);
            cursor: not-allowed !important;

            mat-icon {
                filter: grayscale(100%);
            }
        }
    }

    &.checkBtn {
        background-color: #fff;
        color: greenyellow;
        border: 1px solid greenyellow;
        padding: 2px;
        border-radius: 2px;
        margin-left: 2px;
    }

    &.errBtn {
        background-color: #fff;
        color: #cd7b66;
        border: 1px solid #cd7b66;
        padding: 2px;
        border-radius: 2px;
        margin-left: 2px;
    }

    &.primary {
        color: #495057;
    }

    &.edit {
        background-color: $warning-color;
        color: white;
    }

    &.bg-green-highlighted {
        background-color: $button-highlighted !important;
        color: white;
    }

    &.bg-green {
        background-color: $green-color;
        color: white;
    }

    &.bg-orange-light {
        background-color: $orange-light-color;
        color: white;
    }

    &.bg-gray-light {
        background-color: $gray-light-color;
    }

    &.bg-purple-light {
        background-color: $purple-light-color !important;
        color: white;

        &[disabled] {
            background-color: $purple-disable-light-color;
        }
    }

    &.btn-red-light {
        background-color: $red-light-color;
        color: white;

        mat-icon {
            color: white !important;
        }
    }

    &.bg-custom-red {
        background-color: $custom-red !important;
        color: white;

        mat-icon {
            color: white !important;
        }
    }

    &.btn-info {
        background-color: $blue-color;
        color: white;
    }
}

biopro-process-header {
    .header .title-section {
        flex-direction: column;
        align-items: initial !important;

        h1,
        h3 {
            margin: 0.25rem !important;
            font-weight: 500 !important;
            line-height: 1.25;
        }

        h1 {
            color: map.get($primary, DEFAULT);
            font-size: 24px;
            letter-spacing: -0.019em;
        }

        h3 {
            padding-left: 0 !important;
            font-size: 32px;
            letter-spacing: -0.022em;
        }
    }
}

/* Blocking Backdrop */
.biopro-blocking-backdrop::before {
    content: '';
    position: fixed;
    inset: 0;
    opacity: 0.2;
    z-index: 1001;
    transition: 0.3s;
    background-color: black;
}

.toast-top-right {
    right: 18px !important;
    top: 138px !important;

    @apply flex flex-col space-y-4;
}

.p-datatable .p-datatable-thead {
    height: 50px !important;

    & > tr {
        & > th {
            text-align: left;
            border-width: 0 0 1px;
            color: #495057;
            background: #e5e7eb;
            transition: box-shadow 0.2s;

            &.p-sortable-column.p-highlight {
                color: #495057;
                background: #e5e7eb;
            }
        }
    }
}

.p-datatable {
    .p-datatable-wrapper {
        overflow-x: auto !important;

        &::-webkit-scrollbar {
            width: 12px;
        }

        &::-webkit-scrollbar-track {
            background: white;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #dbdada;
            border-radius: 20px;
            border: 3px solid white;
        }
    }

    table {
        table-layout: auto !important;

        thead {
            th {
                white-space: nowrap !important;
            }
        }

        tbody {
            td {
                white-space: nowrap !important;
            }
        }
    }
}

.p-datatable .p-datatable-tfoot > tr {
    & > td {
        text-align: left;
        color: #495057;
        background: #e5e7eb;
        transition: box-shadow 0.2s;
    }
}

.p-datatable .p-datatable-tbody > tr {
    height: 32px;
}

.custom-error-message{
    @apply text-red-700 #{'!important'};

    font-size: 12px;
    font-weight: 500;
}


/* -------------------------------------------------------------------------- */

/*  @ Toggle Button
/* -------------------------------------------------------------------------- */

.mat-button-toggle-group {
    .mat-button-toggle {
        border: 1px solid theme('colors.gray[300]') !important;
        border-radius: 2px !important;
    }

    .mat-button-toggle-disabled .mat-button-toggle-button {
        cursor: default;
        background:rgb(26 27 31 / 38%) !important;
    }
}

.mat-button-toggle-group > :not([hidden]) ~ :not([hidden]) {
    margin-left: 0;
}



/* -------------------------------------------------------------------------- */

/*  @ Button
/* -------------------------------------------------------------------------- */
.mat-mdc-fab {
    border-radius: 6px !important;
    border: 1px solid theme('colors.gray[300]') !important;
    box-shadow: none !important;
    height: 56px !important;
    background-color: theme('colors.gray[200]') !important;
    color: theme('colors.primary') !important;

    &.mdc-fab--extended {
        background-color: transparent !important;
        color: theme('colors.accent') !important;

        &:hover {
            background-color: rgb(var(--fuse-accent-rgb) 0.15) !important;
        }

        &:not([disabled='true']) {
            &.mat-primary {
                background-color: theme('colors.primary') !important;
                color: white !important;
            }
        }

        &[disabled='true'] {
            color: rgba(var(--fuse-accent-rgb), 0.6) !important;

            &.mat-primary {
                background-color: rgba(var(--fuse-accent-rgb), 0.15) !important;
            }
        }
    }
}

.mdc-button {
    @apply rounded-md #{'!important'};

    &.mat-primary {
        @apply text-primary hover:bg-primary/10 disabled:text-accent/10;
    }

    &.mat-primary-flat {
        background-color: rgba(var(--fuse-primary-rgb), 0.5);

        &[disabled='true'] {
            color: rgba(var(--fuse-accent-rgb), 0.6) !important;

            &.mat-primary {
                background-color: rgba(var(--fuse-accent-rgb), 0.15) !important;
            }
        }

        &:hover {
            background-color: rgba(var(--fuse-primary-rgb), 0.7);
        }
    }

    &.mat-primary-action {
        background-color: rgba(var(--fuse-primary-rgb), 0.9);

        &[disabled='true'] {
            color: rgba(var(--fuse-accent-rgb), 0.6) !important;

            &.mat-primary {
                background-color: rgba(var(--fuse-accent-rgb), 0.15) !important;
            }
        }

        &:hover {
            background-color: rgba(var(--fuse-primary-rgb), 0.8);
        }
    }

    &.mat-secondary {
        @apply text-accent hover:bg-accent/10 disabled:text-accent/10;
    }

    &[disabled='true'] {
        color: rgba(var(--fuse-accent-rgb), 0.6) !important;
    }

    mat-icon {
        @apply pr-1;
    }
}

/* -------------------------------------------------------------------------- */

/*  @ Divider
/* -------------------------------------------------------------------------- */
.mat-divider {
    color: var(--fuse-divider) !important;
}

.cdk-overlay-pane:not(.mat-mdc-dialog-panel) {
    background-color: white !important;
}


.mat-mdc-form-field.mat-form-field-appearance-outline {
     &.mat-form-field-disabled {
        color: rgba(var(--fuse-accent-rgb), 0.6) !important;
    } 

    .mat-mdc-text-field-wrapper {
        .mat-mdc-form-field-flex {
            .mdc-notched-outline {
                .mdc-notched-outline__notch {
                    border-left-style: none !important;
                }
            }
        }
    }
}

