<div class="flex flex-auto flex-col">
    <biopro-process-header
        [subTitle]="header.subTitle | async"
        [title]="header.title | async"
        [buttons]="actionButtonsTpl"
    ></biopro-process-header>

    <ng-template #actionButtonsTpl>
        @if (isRecoveredPlasmaFacility) {
            <div class="flex flex-row space-x-2">
                <biopro-action-button
                    id="createShipmentBtn"
                    btnId="createShipmentBtnId"
                    label="Create Shipment"
                    color="primary"
                    icon="heroicons_outline:plus-circle"
                    (clickEvent)="openCreateShipment()"
                />
            </div>
        }
    </ng-template>

    <biopro-filter-shipment
        (onApplySearchFilters)="applyFilterSearch($event)"
        (onResetFilters)="resetFilterSearch()"
        (toggleFilters)="toggleFilter($event)"
        [showFilters]="isFilterToggled"
        [locations]="locations()"
        [customers]="customers()"
        [productTypes]="productTypes()"
        [shipmentTypes]="shipmentTypes()"
    >
    </biopro-filter-shipment>

    <div class="flex flex-col">
        <div class="flex w-full flex-row space-x-4 p-4">
            <div class="w-full">
                <biopro-table
                    #recoveredPlasmaShipmentTable
                    tableId="recoveredPlasmaShipmentTableId"
                    [dataSource]="page()?.content"
                    [configuration]="tableConfig()"
                    [totalElements]="page()?.totalRecords"
                    [pageIndex]="page()?.pageNumber ?? 0"
                    [serverPagination]="true"
                    (paginate)="handlePagination($event)"
                    (sort)="handleSorting($event)"
                    [class.!pointer-events-none]="loading()"
                >
                </biopro-table>
                <ng-template #shipmentDateTemplateRef let-element="element">
                    {{ element?.shipmentDate | date: 'MM/dd/yyyy' }}
                </ng-template>
                <ng-template #statusTemplateRef let-element="element">
                    <span [class]="getStatusBadgeCssClass(element.status)">
                        {{ element.status }}
                    </span>
                </ng-template>
                <ng-template #detailBtnTemplateRef let-element="element">
                    <biopro-basic-button
                        id="detailsBtn"
                        [disabled]="true"
                        class="text-primary"
                        color="primary"
                        label="Details"
                    />
                </ng-template>
            </div>
        </div>
    </div>
</div>
