{
    "*/**/*.{scss,css}": ["stylelint --fix"],
    "*/**/*.ts": [
        "prettier --write",
        "eslint --fix",
        "eslint",
        "jest --ci --bail --findRelatedTests --passWithNoTests"
    ],
    "*/**/*.{html,json,md}": ["prettier --write"]
}
