<div class="flex flex-row flex-auto space-x-2">
  <div class="flex flex-row">
    <button
      id="minusTemperatureBtn"
      mat-stroked-button
      type="button"
      class="mr-0 minusTemperatureBtn"
      [ngStyle]="{
        'background-color': selectedSignOfTemperature == '+' ? '#99CD66' : '#4D7229'
      }"
      (click)="onToggleTemperature('-')"
    >
      -
    </button>
    <button
      id="plusTemperatureBtn"
      mat-stroked-button
      type="button"
      class="ml-0 plusTemperatureBtn"
      [ngStyle]="{
        'background-color': selectedSignOfTemperature == '-' ? '#99CD66' : '#4D7229'
      }"
      (click)="onToggleTemperature('+')"
    >
      +
    </button>
  </div>
  <div class="flex flex-col space-y-2">
    <mat-form-field appearance="fill" class="block" rsaControlErrorContainer>
      <input
        id="temperature"
        matInput
        required
        rsaMaskRegex
        allowedCharsRegex="[0-9]+"
        [formControl]="temperatureControl"
        autocomplete="off"
        validateOn="blur"
        [customErrors]="{
          required: 'temperature.label' | validation: validationType.REQUIRED
        }"
      />
      <span matSuffix>{{ 'celsius.label' | translate }}</span>
    </mat-form-field>
  </div>
</div>
