button.mat-stroked-button.temperature-control {
  height: 24px !important;
  min-height: 24px !important;
  padding: 0;
  min-width: 6px !important;
  border-radius: 0 0 0 6px;
  border-left: none;
  border-bottom: none;

  &:first-of-type {
    border-top: none;
    border-radius: 6px 0 0 0;
  }

  &.active {
    background-color: #99cd66;
    color: #fff;
  }
}
