@import 'custom-colors';

::ng-deep {
  .mat-progress-bar {
    border-radius: 2px;

    .mat-progress-bar-buffer {
      background-color: $custom-red-100;
    }

    .mat-progress-bar-fill::after {
      background-color: $custom-red;
    }
  }
}
