.notifications-card {
    .notifications-card-header {
        padding: 20px;

        h1{
            font-size: 24px;
            color:#1F2937;
        }
    }

    .notifications-card-body {
        ::ng-deep {
            .mat-mdc-tab .mdc-tab-indicator__content--underline {
                border-color: var(--mdc-tab-indicator-active-indicator-color, var(--mat-app-primary));
                border-top-width: var(--mdc-tab-indicator-active-indicator-height);
                border-radius: var(--mdc-tab-indicator-active-indicator-shape);
                color: #a4a900 !important;
            }

            .mat-mdc-tab-group.mat-mdc-tab-group-stretch-tabs>.mat-mdc-tab-header .mat-mdc-tab {
                margin-right: 15px;
                padding: 3px 3px 5px;
            }

            .mat-mdc-tab-group.mat-mdc-tab-group-stretch-tabs>.mat-mdc-tab-header .mat-mdc-tab {
                flex-grow: 0;
            }

            .mat-mdc-tab .mdc-tab__text-label {
                color: var(--mat-tab-header-inactive-label-text-color, var(--mat-app-on-surface));
                display: inline-flex;
                align-items: center;
                padding: 2px 15px;
            }
        }
    }

    .notifications-card-footer {
        display: flex;
        justify-content: flex-end;
        padding: 15px;
    }
}